Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["prettier --write", "tslint -c tslint.json -p tsconfig.json -t verbose", "git add"],
  "packages/**/*.js": ["prettier --write", "eslint --fix", "git add"]
}

docs(form): improve example
  packages/form/README.md
Due: none

docs(lit-html-renderer): add documentation
  packages/lit-html-renderer/README.md
  packages/lit-html-renderer/src/index.d.ts
  packages/lit-html-renderer/src/shady.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs(lit-html-renderer): improve styling
  packages/lit-html-renderer/README.md
Due: none

docs(context): redesign list of decorators
  packages/context/README.md
Due: none

docs(redux): add links to context docs and improve descriptions
  packages/redux/README.md
Due: none

docs(router): add documentation
  packages/router/README.md
Due: none

docs(styles): add documentation
  packages/styles/README.md
Due: none

docs: add "In Development" warning for all packages
  README.md
  packages/context/README.md
  packages/element/README.md
  packages/form/README.md
  packages/lit-html-renderer/README.md
  packages/redux/README.md
  packages/router/README.md
  packages/styles/README.md
  packages/typings/README.md
  packages/utils/README.md
Due: none

docs: add "Documentation in development" badge for utils and typings
  packages/typings/README.md
  packages/utils/README.md
Due: none

docs(element): revert adding lifecycle decorator
  packages/element/README.md
Due: none

docs(styles): add "Symbolic names" section
  packages/styles/README.md
Due: none

feat(utils): add "getSupers" util
  packages/utils/__tests__/getSupers.ts
  packages/utils/src/getSupers.d.ts
  packages/utils/src/getSupers.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor: use getSuper util everywhere instead of createSuper
  packages/context/src/index.js
  packages/element/src/decorators/element.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/redux/src/index.js
  packages/router/src/outlet.js
  packages/styles/src/index.js
Due: prettier --write, eslint --fix

refactor(element): inline toAttribute and fromAttribute into decorator
  packages/element/src/decorators/attribute.js
Due: prettier --write, eslint --fix

refactor(utils): improve descriptors util
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.d.ts
  packages/utils/src/descriptors.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(utils): remove extras created for every accessor in descriptors
  packages/utils/src/descriptors.js
Due: prettier --write, eslint --fix

refactor: apply new descriptors util API for every package
  packages/context/src/index.js
  packages/element/src/decorators/computingPair.js
  packages/element/src/decorators/element.js
  packages/element/src/decorators/internal.js
  packages/element/src/decorators/property.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/redux/src/decorators.js
  packages/redux/src/index.js
  packages/router/src/outlet.js
  packages/styles/src/index.js
Due: prettier --write, eslint --fix

refactor(utils): remove createSupers util
  packages/utils/__tests__/createSupers.ts
  packages/utils/__tests__/index.ts
  packages/utils/src/createSupers.d.ts
  packages/utils/src/createSupers.js
  scripts/project.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(context): add using decorator to set context/provider values
  packages/context/__tests__/index.ts
  packages/context/src/consumer.js
  packages/context/src/index.d.ts
  packages/context/src/index.js
  packages/context/src/provider.js
  packages/context/src/utils.js
  packages/context/src/value.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): allow creating shadow root for native elements
  packages/element/__tests__/decorators/element.ts
  packages/element/src/decorators/element.js
  packages/element/src/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(element): add list of native elements that can have Shadow Root
  packages/element/README.md
Due: none
