Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(context): remove all decorators in favor of mixins
  packages/context/__tests__/index.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(context): add error if provider is not defined
  packages/context/__tests__/index.ts
  packages/context/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(redux): improve typings
  packages/redux/__tests__/index.ts
  packages/redux/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

fix(redux): initialize redux-connected component in "observedAttributes" getter
  packages/redux/src/index.js
  packages/redux/src/tokens/internal.js
Due: eslint --fix

refactor(router): allow defining layout type on outlet decorator
  packages/router/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

feat(utils): add pipe function
  packages/utils/src/pipe.d.ts
  packages/utils/src/pipe.js
  scripts/project.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: remove decorators as entry points
  scripts/project.js
Due: none

fix(redux): fix method name
  packages/redux/src/index.js
Due: eslint --fix

fix(router): remove url's hostname on push
  packages/router/src/Link.js
Due: eslint --fix

fix(element): disable async rendering
  packages/element/src/index.d.ts
  packages/element/src/index.js
  packages/element/src/scheduler.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build(context): version 0.2.1
  packages/context/package.json
Due: none

build(types): remove typescript mention in package description
  packages/types/package.json
Due: none

build(types): version 0.1.1
  packages/types/package.json
Due: none

refactor(element): improve map typings
  packages/element/__tests__/lifecycle/methods.ts
  packages/element/__tests__/observableFields/attributes.ts
  packages/element/__tests__/observableFields/computed.ts
  packages/element/__tests__/observableFields/index.ts
  packages/element/__tests__/observableFields/properties.ts
  packages/element/__tests__/observableFields/states.ts
  packages/element/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

build(utils): improve description
  packages/utils/package.json
Due: none

build(utils): version 0.2.0
  packages/utils/package.json
Due: none

build(context): update dependencies
  packages/context/package.json
Due: none

build(context): update dependencies
  packages/context/package-lock.json
  packages/context/package.json
Due: none

build(context): version 0.3.0
  packages/context/package.json
Due: none

build(element): update dependencies
  packages/element/package-lock.json
  packages/element/package.json
Due: none

build(element): update dependencies
  packages/element/package.json
Due: none

build(element): version 0.4.0
  packages/element/package.json
Due: none

Path conditions:
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
