Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(element): create new tests to control lifecycle
  packages/element/__tests__/corpusculeElement.ts
  packages/element/__tests__/corpusculeElement/deriveStateFromProps.ts
  packages/element/__tests__/corpusculeElement/forceUpdate.ts
  packages/element/__tests__/corpusculeElement/index.ts
  packages/element/__tests__/corpusculeElement/mounting.ts
  packages/element/__tests__/corpusculeElement/render.ts
  packages/element/__tests__/corpusculeElement/unmounting.ts
  packages/element/__tests__/corpusculeElement/updating.ts
  packages/element/__tests__/decorators/elementDecorator.ts
  packages/element/__tests__/decorators/index.ts
  packages/element/__tests__/index.ts
  packages/element/__tests__/lifecycle/didMethods.ts
  packages/element/__tests__/lifecycle/index.ts
  packages/element/__tests__/lifecycle/methods.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): improve typings
  packages/element/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

style(element): improve code style
  packages/element/src/decorators.js
Due: eslint --fix

test(element): fix mistakes in new lifecycle tests
  packages/element/__tests__/corpusculeElement/deriveStateFromProps.ts
  packages/element/__tests__/corpusculeElement/mounting.ts
  packages/element/__tests__/corpusculeElement/updating.ts
  packages/element/__tests__/index.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test(element): add new test for [shouldUpdate]
  packages/element/__tests__/corpusculeElement/updating.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): change invalidation logic to pass new lifecycle tests
  packages/element/src/index.js
Due: eslint --fix

refactor(element): use synchronous code for lifecycle hooks
  packages/element/src/index.js
Due: eslint --fix

test(element): render should throw error if not implemented
  packages/element/__tests__/corpusculeElement/render.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): move catching error to [invalidate] method
  packages/element/src/decorators.js
  packages/element/src/index.js
  packages/element/src/utils.js
Due: eslint --fix

feat(element): add initial scheduling with "requestAnimationFrame"
  packages/element/__tests__/index.ts
  packages/element/__tests__/schedule.ts
  packages/element/src/index.js
  packages/element/src/schedule.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): use proper rejection system for scheduler
  packages/element/src/index.js
  packages/element/src/schedule.js
Due: eslint --fix

test(element): update tests for new rejection system
  packages/element/__tests__/corpusculeElement/render.ts
  packages/element/__tests__/index.ts
  packages/element/__tests__/schedule.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): rename file "schedule" -> "scheduler"
  packages/element/__tests__/index.ts
  packages/element/__tests__/scheduler.ts
  packages/element/src/index.js
  packages/element/src/scheduler.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(element): add "dhtml" module with a wrapper around "html" function
  packages/element/__tests__/dhtml.ts
  packages/element/__tests__/index.ts
  packages/element/src/dhtml.d.ts
  packages/element/src/dhtml.js
  scripts/project.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(element): add `tag` static getter by element decorator
  packages/element/__tests__/decorators/elementDecorator.ts
  packages/element/__tests__/dhtml.ts
  packages/element/src/decorators.js
  packages/element/src/dhtml.d.ts
  packages/element/src/dhtml.js
  packages/element/src/index.d.ts
  packages/element/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): use WeakMap instead of Map for dhtml registry
  packages/element/src/dhtml.js
Due: eslint --fix

refactor(element): simplify dhtml code
  packages/element/src/dhtml.js
Due: eslint --fix

refactor(element): allow to trigger wrapping setters during state deriving
  packages/element/__tests__/corpusculeElement/deriveStateFromProps.ts
  packages/element/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): change throw condition to correctness condition for "assertKind"
  packages/element/src/computed.js
  packages/redux/src/decorators.js
  packages/utils/__tests__/assertKind.ts
  packages/utils/src/assertKind.d.ts
  packages/utils/src/assertKind.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): replace throw condition with correctness condition for "assertKind" (#16)
  packages/element/src/computed.js
  packages/redux/src/decorators.js
  packages/utils/__tests__/assertKind.ts
  packages/utils/src/assertKind.d.ts
  packages/utils/src/assertKind.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(utils): add "useInitializer" util
  packages/utils/__tests__/index.ts
  packages/utils/__tests__/useInitializer.ts
  packages/utils/src/useInitializer.d.ts
  packages/utils/src/useInitializer.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

Path conditions:
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
