Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): change createSupers' options object to Map
  packages/utils/__tests__/createSupers.ts
  packages/utils/src/createSupers.d.ts
  packages/utils/src/createSupers.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor: apply createSupers function to all packages
  packages/context/src/index.js
  packages/element/src/decorators/element.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/redux/src/index.js
  packages/router/src/outlet.js
Due: prettier --write, eslint --fix

refactor: make web component lifecycle methods bound in decorators
  packages/context/src/index.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/redux/src/index.js
  packages/router/src/outlet.js
Due: prettier --write, eslint --fix

fix(utils): bind proper instance in createSupers
  packages/utils/__tests__/createSupers.ts
  packages/utils/src/createSupers.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(element): allow to create customized built-in elements
  packages/element/__tests__/decorators/element.ts
  packages/element/src/decorators/element.js
  packages/element/src/index.d.ts
  test/utils.d.ts
  test/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(utils): make methods writable
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(element): use HTMLElement instead of HTMLElementMock
  packages/element/__tests__/decorators/element.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix(element): call [createRoot] function only once if there is inheritance
  packages/element/__tests__/decorators/element.ts
  packages/element/src/decorators/element.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(tests): move CustomElement declaration to test utils
  packages/element/__tests__/decorators/element.ts
  test/utils.d.ts
  test/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

test(element): move attribute decorator tests to HTMLElement
  packages/element/__tests__/decorators/attribute.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

feat(element): allow using accessors for property and internal decorators
  packages/element/__tests__/decorators/internal.ts
  packages/element/__tests__/decorators/property.ts
  packages/element/src/decorators/attribute.js
  packages/element/src/decorators/internal.js
  packages/element/src/decorators/property.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): hide all decorator checks in separate function
  packages/element/src/decorators/computingPair.js
  packages/element/src/decorators/internal.js
  packages/element/src/decorators/property.js
  packages/element/src/utils.js
Due: prettier --write, eslint --fix

refactor(element): use attribute check directly in the setter
  packages/element/src/decorators/attribute.js
Due: prettier --write, eslint --fix

test(context): use HTMLElement for testing
  packages/context/__tests__/index.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

test: rewrite all context-dependent tests to HTMLElement
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/redux/__tests__/index.ts
  packages/router/__tests__/outlet.ts
  test/mocks/context.ts
  test/utils.d.ts
  test/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix(form): convert all react-style listeners to DOM listeners for Field
  packages/form/__tests__/field.ts
  packages/form/src/field.js
  packages/form/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(form): implement handling change events of default HTML elements
  packages/form/__tests__/field.ts
  packages/form/src/createFormContext.js
  packages/form/src/field.js
  packages/form/src/index.d.ts
  packages/form/src/index.js
  packages/form/src/utils.js
  test/webpack.config.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(style): major improvement
  packages/styles/__tests__/index.ts
  packages/styles/src/index.d.ts
  packages/styles/src/index.js
  packages/styles/src/tokens.js
  packages/styles/src/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(style): add [stylesAttachedCallback] to catch a moment when all styles are attached to shadow root
  packages/styles/__tests__/index.ts
  packages/styles/src/index.d.ts
  packages/styles/src/index.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(style): simplify applying urls with the same origin
  packages/styles/src/index.js
Due: prettier --write, eslint --fix

test(style): add tests for url cases
  packages/styles/__tests__/index.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

Path conditions:
  prettier --write: (any of: packages/**/*.ts) or (any of: packages/**/*.js)
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
