Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: update all dependencies; update typescript to 3.0.0-rc
  package.json
Due: none

build: update all dependencies; update typescript to 3.0.0-rc
  package-lock.json
  package.json
Due: none

refactor: improve using of @corpuscule/typings
  packages/context/package.json
  packages/context/src/index.d.ts
  packages/element/src/index.d.ts
  packages/redux/package.json
  packages/redux/src/index.d.ts
  packages/router/src/index.d.ts
  packages/styles/src/index.d.ts
  packages/typings/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): rename "renderingPromise" to "elementRendering"
  packages/element/__tests__/lifecycle/didMethods.ts
  packages/element/__tests__/lifecycle/index.ts
  packages/element/__tests__/lifecycle/methods.ts
  packages/element/__tests__/observableFields/attributes.ts
  packages/element/__tests__/observableFields/computed.ts
  packages/element/__tests__/observableFields/index.ts
  packages/element/__tests__/observableFields/properties.ts
  packages/element/__tests__/observableFields/states.ts
  packages/element/src/index.d.ts
  packages/element/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(router): rename "resolvingPromise" to "routeResolving"
  packages/router/__tests__/outlet.ts
  packages/router/src/index.d.ts
  packages/router/src/outlet.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(redux): rename "utils" to "decorators" & use getOwnPropertyDescriptor for @dispatcher
  packages/redux/src/decorators.js
  packages/redux/src/index.js
Due: eslint --fix

build: update all dependencies
  package-lock.json
Due: none

build: update dependencies & add several babel plugins
  package.json
  packages/element/__tests__/lifecycle/didMethods.ts
  packages/element/__tests__/lifecycle/index.ts
  packages/element/__tests__/lifecycle/methods.ts
  packages/element/__tests__/observableFields/attributes.ts
  packages/element/__tests__/observableFields/computed.ts
  packages/element/__tests__/observableFields/index.ts
  packages/element/__tests__/observableFields/properties.ts
  packages/element/__tests__/observableFields/states.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

build: update dependencies & add several babel plugins
  package-lock.json
  package.json
  packages/element/__tests__/lifecycle/didMethods.ts
  packages/element/__tests__/lifecycle/index.ts
  packages/element/__tests__/lifecycle/methods.ts
  packages/element/__tests__/observableFields/attributes.ts
  packages/element/__tests__/observableFields/computed.ts
  packages/element/__tests__/observableFields/index.ts
  packages/element/__tests__/observableFields/properties.ts
  packages/element/__tests__/observableFields/states.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

build(config): adjust config
  package.json
  scripts/rollup.config.js
  test/webpack.config.js
Due: none

refactor(element): use Stage 2 decorators
  packages/element/__tests__/observableFields/computed.ts
  packages/element/src/decorators.js
  packages/element/src/index.js
  packages/element/src/tokens/internal.js
  packages/element/src/utils.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(context): use Stage 2 decorators
  packages/context/src/index.js
  packages/context/src/utils.js
Due: eslint --fix

refactor(utils): remove propertyChain util
  packages/utils/__tests__/index.ts
  packages/utils/__tests__/propertyChain.ts
  packages/utils/src/propertyChain.d.ts
  packages/utils/src/propertyChain.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(utils): add getSuperMethod util
  packages/utils/__tests__/getSuperMethod.ts
  packages/utils/__tests__/index.ts
  packages/utils/src/getSuperMethod.d.ts
  packages/utils/src/getSuperMethod.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(context): improve code
  packages/context/package.json
  packages/context/src/index.js
Due: eslint --fix

feat(utils): add addToRegistry util
  packages/utils/__tests__/addToRegistry.ts
  packages/utils/__tests__/index.ts
  packages/utils/src/addToRegistry.d.ts
  packages/utils/src/addToRegistry.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): move addToRegistry util to @corpuscule/utils
  packages/element/package.json
  packages/element/src/decorators.js
  packages/element/src/utils.js
Due: eslint --fix

refactor(redux): use Stage 2 decorators
  packages/redux/__tests__/index.ts
  packages/redux/package.json
  packages/redux/src/decorators.js
  packages/redux/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(styles): use Stage 2 decorators
  packages/styles/__tests__/index.ts
  packages/styles/__tests__/typings.d.ts
  packages/styles/package.json
  packages/styles/src/index.d.ts
  packages/styles/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(router): use Stage 2 decorators
  packages/router/package.json
  packages/router/src/outlet.js
Due: eslint --fix

refactor(redux): remove unnecessary key comparison
  packages/redux/src/index.js
Due: eslint --fix

build: change building process for @corpuscule/utils in accordance with latest changes
  scripts/project.js
Due: none

Path conditions:
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
