Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(utils): add "boundMethod" to descriptor creators
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.d.ts
  packages/utils/src/descriptors.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor: use descriptor creators for all descriptors
  packages/context/src/index.js
  packages/element/src/decorators/computingPair.js
  packages/element/src/decorators/element.js
  packages/element/src/decorators/property.js
  packages/element/src/decorators/state.js
  packages/redux/src/decorators.js
  packages/redux/src/index.js
  packages/router/src/outlet.js
  packages/styles/src/index.js
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.d.ts
  packages/utils/src/descriptors.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(element): allow to use multiple computers from computing pair
  packages/element/__tests__/decorators/computingPair.ts
  packages/element/src/decorators/computingPair.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(element): add "eventContext" option for lit-html render
  packages/element/src/decorators/element.js
Due: eslint --fix

test(element): fix tests
  packages/element/__tests__/decorators/element.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): rename state -> internal
  packages/element/__tests__/decorators/element.ts
  packages/element/__tests__/decorators/internal.ts
  packages/element/__tests__/decorators/state.ts
  packages/element/__tests__/index.ts
  packages/element/src/decorators/element.js
  packages/element/src/decorators/internal.js
  packages/element/src/index.d.ts
  packages/element/src/index.js
  packages/element/src/tokens/lifecycle.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

style(element): improve code style
  packages/element/src/decorators/computingPair.js
  packages/element/src/withUnsafeStatic.js
Due: eslint --fix

feat(utils): improve getSuperMethod
  packages/context/src/index.js
  packages/element/src/decorators/element.js
  packages/redux/src/index.js
  packages/router/src/outlet.js
  packages/utils/__tests__/getSuperMethod.ts
  packages/utils/__tests__/getSuperMethods.ts
  packages/utils/__tests__/index.ts
  packages/utils/src/getSuperMethod.d.ts
  packages/utils/src/getSuperMethod.js
  packages/utils/src/getSuperMethods.d.ts
  packages/utils/src/getSuperMethods.js
  scripts/project.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test: add HTMLElementMock class
  test/utils.d.ts
  test/utils.js
Due: none

test(element): use HTMLElementMock class from test utils
  packages/element/__tests__/decorators/attribute.ts
  packages/element/__tests__/decorators/computingPair.ts
  packages/element/__tests__/decorators/element.ts
  packages/element/__tests__/utils.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test: fix HTMLElementMock implementation
  test/utils.js
Due: none

test(context): reimplement tests using HTMLElementMock
  packages/context/__tests__/index.ts
  packages/context/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(context): add createContextElements function
  packages/context/__tests__/index.ts
  test/utils.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test: add context mock
  test/mocks/context.ts
  test/webpack.config.js
Due: none

test(redux): reimplement tests using HTMLElementMock and context mock
  packages/redux/__tests__/index.ts
  packages/redux/src/decorators.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: update typescript version
  package-lock.json
  package.json
Due: none

build: update typescript version
  package.json
Due: none

test: improve createMockedContextElements function
  test/mocks/context.ts
Due: none

test(router): reimplement tests for router outlet using HTMLElementMock
  packages/router/__tests__/outlet.ts
  packages/router/src/index.d.ts
  packages/router/src/outlet.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(utils): add lifecycleKeys array
  packages/utils/src/descriptors.d.ts
  packages/utils/src/descriptors.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(router): add tests for createRouter
  packages/router/__tests__/createRouter.ts
  test/mocks/universal-router.ts
  test/webpack.config.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose

fix: use private properties that are generated during decorating
  packages/element/src/decorators/element.js
  packages/element/src/tokens/internal.js
  packages/redux/src/decorators.js
  packages/redux/src/index.js
  packages/redux/src/tokens/internal.js
  packages/redux/src/utils.js
  packages/router/src/Link.js
  packages/router/src/outlet.js
  packages/router/src/tokens/internal.js
Due: eslint --fix

Path conditions:
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
