Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: update dependencies
  package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/router/package.json
Due: none

build: v0.7.0
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/styles/package.json
  packages/typings/package.json
  packages/utils/package.json
Due: none

docs: add npm version badges
  packages/context/README.md
  packages/element/README.md
  packages/form/README.md
  packages/lit-html-renderer/README.md
  packages/redux/README.md
  packages/router/README.md
  packages/styles/README.md
  packages/typings/README.md
  packages/utils/README.md
Due: none

build: create package-lock.json
  package-lock.json
Due: none

refactor(context): use descriptor destructuring
  packages/context/src/consumer.js
  packages/context/src/provider.js
Due: prettier --write, eslint --fix

refactor: use named descriptors import
  packages/context/src/consumer.js
  packages/context/src/provider.js
  packages/context/src/value.js
  packages/element/src/decorators/element.js
  packages/form/src/api.js
  packages/form/src/form.js
  packages/form/src/option.js
Due: prettier --write, eslint --fix

fix: remove shared own lifecycle elements from class
  packages/context/__tests__/index.ts
  packages/context/src/consumer.js
  packages/context/src/provider.js
  packages/context/src/utils.js
  packages/element/__tests__/decorators/element.ts
  packages/element/src/decorators/element.js
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/utils.js
  packages/redux/__tests__/index.ts
  packages/redux/src/redux.js
  packages/router/__tests__/outlet.ts
  packages/router/src/outlet.js
  packages/styles/__tests__/index.ts
  packages/styles/src/index.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(styles): fix accidental tests failing
  packages/styles/__tests__/index.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build: v0.7.1
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/styles/package.json
  packages/typings/package.json
  packages/utils/package.json
Due: none

style(context): move third-party dependency on top of imports
  packages/context/src/index.js
Due: prettier --write, eslint --fix

docs: update packages size
  packages/context/README.md
  packages/element/README.md
  packages/form/README.md
  packages/redux/README.md
  packages/router/README.md
Due: none

build: v0.7.2
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/redux/package.json
  packages/router/package.json
Due: none

fix(element): fix issue when createRoot is null
  packages/element/src/decorators/element.js
Due: prettier --write, eslint --fix

test(router): replace handwritten promise with test util
  packages/router/__tests__/outlet.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix: reimplement lifecycle methods in accordance with spec
  packages/context/src/consumer.js
  packages/context/src/provider.js
  packages/context/src/utils.js
  packages/element/__tests__/decorators/element.ts
  packages/element/src/decorators/element.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/utils.js
  packages/redux/src/redux.js
  packages/router/src/outlet.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test: add more tests for real DOM
  packages/context/__tests__/index.ts
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/redux/__tests__/index.ts
  packages/router/__tests__/outlet.ts
  test/mocks/context.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

feat(util): add lifecycleDescriptors util
  packages/utils/__tests__/index.ts
  packages/utils/__tests__/lifecycleDescriptors.ts
  packages/utils/src/lifecycleDescriptors.d.ts
  packages/utils/src/lifecycleDescriptors.js
  scripts/project.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(util): improve lifecycle method usability
  packages/utils/__tests__/lifecycleDescriptors.ts
  packages/utils/src/lifecycleDescriptors.d.ts
  packages/utils/src/lifecycleDescriptors.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor: use lifecycleMethod for all inheritance workaround
  packages/context/src/consumer.js
  packages/context/src/provider.js
  packages/element/src/decorators/element.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/redux/src/redux.js
  packages/router/src/outlet.js
Due: prettier --write, eslint --fix

refactor(element): move all decorators to source root
  packages/element/__tests__/attribute.ts
  packages/element/__tests__/computingPair.ts
  packages/element/__tests__/element.ts
  packages/element/__tests__/index.ts
  packages/element/__tests__/internal.ts
  packages/element/__tests__/property.ts
  packages/element/src/attribute.js
  packages/element/src/computingPair.js
  packages/element/src/element.js
  packages/element/src/index.js
  packages/element/src/internal.js
  packages/element/src/property.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: v0.8.0
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/styles/package.json
  packages/typings/package.json
  packages/utils/package.json
Due: none

build: add prepublish script
  package.json
Due: none

build: v0.8.1
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/styles/package.json
  packages/typings/package.json
  packages/utils/package.json
Due: none

fix(element): add delaying for customElements definition
  packages/element/src/element.js
Due: prettier --write, eslint --fix

fix: add finishers for context decorators
  packages/form/src/api.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/redux/src/redux.js
  packages/router/src/outlet.js
Due: prettier --write, eslint --fix

refactor(element): revert adding delay for CustomElementsRegistry
  packages/element/README.md
  packages/element/src/element.js
Due: prettier --write, eslint --fix

test: add tests for context finishers
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/redux/__tests__/index.ts
  packages/router/__tests__/outlet.ts
  test/mocks/context.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build(travis): remove all unnecessary node instances
  .travis.yml
Due: none

build(tsconfig): temporarily disable noImplicitAny option due to open-wc error
  tsconfig.json
Due: none

build: add open-wc testing helpers
  package-lock.json
  package.json
Due: none

build(tslint): disable a bunch of annoying rules
  tslint.json
Due: none

test(context): move context to open-wc testing helpers
  packages/context/__tests__/index.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix(context): allow creating values from accessors
  packages/context/__tests__/index.ts
  packages/context/src/index.js
  packages/context/src/provider.js
  packages/context/src/value.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test: improve configuration & mocks
  test/mocks/litHtml.ts
  test/utils.d.ts
  test/utils.js
  test/webpack.config.js
Due: none

refactor: apply open-wc test helpers to project tests & add code fixes
  packages/context/__tests__/index.ts
  packages/element/__tests__/attribute.ts
  packages/element/__tests__/computingPair.ts
  packages/element/__tests__/element.ts
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/field.js
  packages/form/src/form.js
  packages/redux/__tests__/index.ts
  packages/router/__tests__/Link.ts
  packages/router/__tests__/index.ts
  packages/router/__tests__/outlet.ts
  packages/styles/__tests__/index.ts
  packages/utils/src/descriptors.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(element): allow light DOM creation
  packages/element/README.md
  packages/element/__tests__/element.ts
  packages/element/src/element.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(element): fix typos
  packages/element/README.md
Due: none

fix(element): always use createRoot function
  packages/element/src/element.js
Due: prettier --write, eslint --fix

build: v0.8.2
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/styles/package.json
  packages/utils/package.json
Due: none

Path conditions:
  prettier --write: (any of: packages/**/*.ts) or (any of: packages/**/*.js)
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
