Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["tslint -c tslint.json -p tsconfig.json -t verbose", "git add"],
  "packages/**/*.js": ["eslint --fix", "git add"]
}

refactor(form): improve form implementation
  packages/form/src/context.js
  packages/form/src/form.js
  packages/form/src/index.js
  packages/form/src/tokens/field/internal.js
  packages/form/src/tokens/field/lifecycle.js
  packages/form/src/tokens/form.js
  packages/form/src/tokens/form/internal.js
  packages/form/src/tokens/form/lifecycle.js
  packages/form/src/tokens/internal.js
Due: eslint --fix

fix(utils): stylize test file properly
  packages/utils/__tests__/shallowEqual.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor: move "scheduler" to utils
  packages/element/__tests__/index.ts
  packages/element/src/decorators/element.js
  packages/utils/__tests__/index.ts
  packages/utils/__tests__/scheduler.ts
  packages/utils/src/scheduler.d.ts
  packages/utils/src/scheduler.js
  scripts/project.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(form): add Field implementation
  packages/form/src/field.js
  packages/form/src/index.js
  packages/form/src/tokens/field/lifecycle.js
Due: eslint --fix

feat(form): improve implementations
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/tokens/field/internal.js
  packages/form/src/tokens/field/lifecycle.js
Due: eslint --fix

feat(form): improve typings
  packages/form/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

fix(form): add hard privacy of internal fields
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/tokens/field/internal.js
  packages/form/src/tokens/form/internal.js
Due: eslint --fix

fix(utils): fix createDualDescriptor implementation and building
  packages/utils/src/createDualDescriptor.js
  scripts/project.js
Due: eslint --fix

test(element): fix tests for improved implementation of static observedAttributes
  packages/element/__tests__/decorators/attribute.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

feat(utils): allow field decorator helper to be used as initializer
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.d.ts
  packages/utils/src/descriptors.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): improve "accessor" descriptor helper to cover "createDualDescriptor" functionality
  packages/element/src/decorators/computingPair.js
  packages/form/src/field.js
  packages/utils/__tests__/createDualDescriptor.ts
  packages/utils/__tests__/descriptors.ts
  packages/utils/__tests__/index.ts
  packages/utils/src/createDualDescriptor.d.ts
  packages/utils/src/createDualDescriptor.js
  packages/utils/src/descriptors.d.ts
  packages/utils/src/descriptors.js
  scripts/project.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: disable some eslint & tslint rules
  .eslintrc
  tslint.json
Due: none

refactor(form): improve implementation & fix several issues
  packages/form/src/form.js
  packages/form/src/index.js
Due: eslint --fix

refactor(form): rename formConfig -> formOption; fieldConfig -> fieldOption
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/index.d.ts
  packages/form/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test: move HTMLElementMock to global test utils
  packages/element/__tests__/decorators/attribute.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(form): rename "initialValuesEqual" -> "compareInitialValues"
  packages/form/src/form.js
  packages/form/src/index.d.ts
  packages/form/src/tokens/form/lifecycle.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(form): add quotes to config key name in error
  packages/form/src/form.js
Due: eslint --fix

refactor(form): use new accessor feature of creating hidden field
  packages/form/src/form.js
Due: eslint --fix

test(form): add tests for form decorator
  packages/form/__tests__/form.ts
  packages/form/__tests__/index.ts
  packages/form/__tests__/mocks/finalForm.ts
  test/test.js
  test/webpack.config.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor: move test mocks to the "test" directory
  packages/form/__tests__/form.ts
  test/mocks/finalForm.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test: clean up
  packages/element/__tests__/decorators/attribute.ts
  packages/router/__tests__/createRouter.ts
  test/mocks/universalRouter.ts
  test/utils.d.ts
  test/utils.js
  test/webpack.config.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose
