Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["tslint -c tslint.json -p tsconfig.json -t verbose", "git add"],
  "packages/**/*.js": ["eslint --fix", "git add"]
}

test(element): add proper tests for wrapper setters
  packages/element/__tests__/corpusculeElement/deriveStateFromProps.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(utils): replace "addToRegistry" function with Registry class
  packages/utils/__tests__/Registry.ts
  packages/utils/__tests__/addToRegistry.ts
  packages/utils/__tests__/index.ts
  packages/utils/src/Registry.d.ts
  packages/utils/src/Registry.js
  packages/utils/src/addToRegistry.d.ts
  packages/utils/src/addToRegistry.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(utils): add ability to use "static" placement for "useInitializer"
  packages/utils/__tests__/Registry.ts
  packages/utils/__tests__/useInitializer.ts
  packages/utils/src/useInitializer.d.ts
  packages/utils/src/useInitializer.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): improve algorithm for "computed" decorator
  packages/element/__tests__/computed.ts
  packages/element/src/computed.d.ts
  packages/element/src/computed.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): use different approach
  packages/element/src/computed.d.ts
  packages/element/src/computed.js
  packages/element/src/decorators.js
  packages/element/src/decorators/attribute.js
  packages/element/src/decorators/computed.js
  packages/element/src/decorators/element.js
  packages/element/src/decorators/property.js
  packages/element/src/decorators/state.js
  packages/element/src/getOldValue.js
  packages/element/src/index.d.ts
  packages/element/src/index.js
  packages/element/src/tokens/internal.js
  packages/element/src/tokens/lifecycle.js
  packages/element/src/utils.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): change approach
  packages/element/src/decorators/attribute.js
  packages/element/src/decorators/computed.js
  packages/element/src/decorators/property.js
  packages/element/src/decorators/state.js
  packages/element/src/getOldValue.js
  packages/element/src/index.d.ts
  packages/element/src/index.js
  packages/element/src/tokens/internal.js
  packages/element/src/tokens/lifecycle.js
  packages/element/src/utils.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

Commit to preserve code
  .eslintrc
  packages/element/__tests__/computed.ts
  packages/element/__tests__/corpusculeElement/mounting.ts
  packages/element/__tests__/decorators/_attributeDecorator.ts
  packages/element/__tests__/decorators/attribute.ts
  packages/element/__tests__/decorators/computedDecorator.ts
  packages/element/__tests__/decorators/index.ts
  packages/element/__tests__/decorators/propertyDecorator.ts
  packages/element/__tests__/index.ts
  packages/element/__tests__/utils.ts
  packages/element/src/decorators.js
  packages/redux/src/decorators.js
  packages/utils/__tests__/Registry.ts
  packages/utils/__tests__/index.ts
  packages/utils/src/Registry.d.ts
  packages/utils/src/Registry.js
  scripts/project.js
  test/karma.conf.js
  tsconfig.json
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: update "eslint-config-poetez" to a new version
  package-lock.json
  package.json
Due: none

build: update "eslint-config-poetez" to a new version
  package.json
Due: none

refactor: remove description for all internal symbols
  packages/context/src/index.js
  packages/element/src/tokens/internal.js
  packages/element/src/tokens/stages.js
  packages/redux/src/tokens/internal.js
  packages/router/src/tokens/internal.js
Due: eslint --fix

style: apply new code style for "scripts" and "test" directories
  scripts/build.js
  scripts/project.js
  scripts/rollup.config.js
  test/karma.conf.js
  test/test.js
  test/utils.js
  test/webpack.config.js
Due: none

refactor(element): add new implementation of attribute decorator
  packages/element/src/attribute.js
  packages/element/src/utils.js
Due: eslint --fix

refactor(element): add new implementation of element decorator
  packages/element/src/element.js
Due: eslint --fix

refactor(element): add new implementation of property decorator
  packages/element/src/property.js
  packages/element/src/tokens/lifecycle.js
Due: eslint --fix

refactor(element): add new implementation of state decorator
  packages/element/src/state.js
  packages/element/src/tokens/lifecycle.js
Due: eslint --fix

refactor(element): add new implementation of computed decorator
  packages/element/src/computed.js
Due: eslint --fix

refactor(element): add new implementation of CorpusculeElement
  packages/element/src/decorators.js
  packages/element/src/index.js
  packages/element/src/tokens/internal.js
  packages/element/src/tokens/lifecycle.js
  packages/element/src/tokens/stages.js
Due: eslint --fix

refactor(element): add new typings
  packages/element/src/computed.d.ts
  packages/element/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): move all decorators to a "decorators" directory
  packages/element/src/decorators/attribute.js
  packages/element/src/decorators/computed.js
  packages/element/src/decorators/element.js
  packages/element/src/decorators/property.js
  packages/element/src/decorators/state.js
  packages/element/src/index.js
Due: eslint --fix

test(element): remove old tests & add new test for element decorator
  packages/element/__tests__/computed.ts
  packages/element/__tests__/corpusculeElement/deriveStateFromProps.ts
  packages/element/__tests__/corpusculeElement/forceUpdate.ts
  packages/element/__tests__/corpusculeElement/index.ts
  packages/element/__tests__/corpusculeElement/mounting.ts
  packages/element/__tests__/corpusculeElement/render.ts
  packages/element/__tests__/corpusculeElement/unmounting.ts
  packages/element/__tests__/corpusculeElement/updating.ts
  packages/element/__tests__/decorators/attributeDecorator.ts
  packages/element/__tests__/decorators/element.ts
  packages/element/__tests__/decorators/elementDecorator.ts
  packages/element/__tests__/decorators/index.ts
  packages/element/__tests__/decorators/propertyDecorator.ts
  packages/element/__tests__/decorators/stateDecorator.ts
  packages/element/__tests__/dhtml.ts
  packages/element/__tests__/index.ts
  packages/element/__tests__/scheduler.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test(element): add new test for attribute decorator
  packages/element/__tests__/decorators/attribute.ts
  packages/element/__tests__/index.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): speed up "fromAttribute" function
  packages/element/src/decorators/attribute.js
Due: eslint --fix

feat(utils): allow "addToRegistry" function to be used for arrays
  packages/utils/__tests__/addToRegistry.ts
  packages/utils/src/addToRegistry.d.ts
  packages/utils/src/addToRegistry.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): use "addToRegistry" for adding to registries
  packages/element/src/decorators/attribute.js
Due: eslint --fix
