Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build(tslint): update tslint config
  package-lock.json
  package.json
  packages/element/__tests__/computer.ts
  packages/element/__tests__/element.ts
  packages/lit-html-renderer/__tests__/withCustomElement.ts
  packages/lit-html-renderer/src/withCustomElement.d.ts
  packages/redux/__tests__/index.ts
  packages/styles/src/index.d.ts
  packages/typings/lib/index.d.ts
  packages/utils/__tests__/defineExtendable.ts
  packages/utils/__tests__/makeAccessor.ts
  packages/utils/__tests__/propertyUtils.ts
  packages/utils/src/defineExtendable.d.ts
  packages/utils/src/makeAccessor.d.ts
  packages/utils/src/setters.d.ts
  tslint.json
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build: make configuration typescript-first
  scripts/build.js
  scripts/project.js
  scripts/rollup.config.js
  test/karma.conf.js
  test/test.js
  test/test.ts
  test/webpack.config.js
  tsconfig.json
  tslint.json
Due: none

refactor(utils): rewrite package in typescript
  packages/utils/__tests__/makeAccessor.ts
  packages/utils/__tests__/setters.ts
  packages/utils/__tests__/tokenRegistry.ts
  packages/utils/src/asserts.d.ts
  packages/utils/src/asserts.js
  packages/utils/src/asserts.ts
  packages/utils/src/defineExtendable.d.ts
  packages/utils/src/defineExtendable.js
  packages/utils/src/defineExtendable.ts
  packages/utils/src/getSupers.d.ts
  packages/utils/src/getSupers.js
  packages/utils/src/getSupers.ts
  packages/utils/src/makeAccessor.d.ts
  packages/utils/src/makeAccessor.js
  packages/utils/src/makeAccessor.ts
  packages/utils/src/propertyUtils.d.ts
  packages/utils/src/propertyUtils.js
  packages/utils/src/propertyUtils.ts
  packages/utils/src/scheduler.d.ts
  packages/utils/src/scheduler.ts
  packages/utils/src/setters.d.ts
  packages/utils/src/setters.js
  packages/utils/src/setters.ts
  packages/utils/src/shallowEqual.d.ts
  packages/utils/src/shallowEqual.js
  packages/utils/src/shallowEqual.ts
  packages/utils/src/tokenRegistry.d.ts
  packages/utils/src/tokenRegistry.js
  packages/utils/src/tokenRegistry.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): adjust code to work with typedoc
  packages/utils/src/asserts.ts
  packages/utils/src/defineExtendable.ts
  packages/utils/src/getSupers.ts
  packages/utils/src/makeAccessor.ts
  packages/utils/src/propertyUtils.ts
  packages/utils/src/scheduler.ts
  packages/utils/src/setters.ts
  packages/utils/src/shallowEqual.ts
  packages/utils/src/tokenRegistry.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build: add typedoc package
  package-lock.json
  package.json
  tslint.json
  typedoc.json
Due: none

refactor(utils): use typedoc in a different way & update docs
  packages/utils/package.json
  packages/utils/src/asserts.ts
  packages/utils/src/defineExtendable.ts
  packages/utils/src/getSupers.ts
  packages/utils/src/makeAccessor.ts
  packages/utils/src/propertyUtils.ts
  packages/utils/src/scheduler.ts
  packages/utils/src/setters.ts
  packages/utils/src/shallowEqual.ts
  packages/utils/src/tokenRegistry.ts
  packages/utils/typedoc.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(utils): add an example for the getSupers
  packages/utils/src/getSupers.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(styles): rewrite in typescript and add docs
  packages/styles/package.json
  packages/styles/src/index.d.ts
  packages/styles/src/index.js
  packages/styles/src/index.ts
  packages/styles/typedoc.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build(utils): fix docs building
  packages/utils/package.json
  packages/utils/typedoc.js
Due: prettier --write, eslint --fix

refactor(utils): improve docs and parameter names
  packages/utils/src/asserts.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build: update dependencies
  package-lock.json
  package.json
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/index.d.ts
  scripts/rollup.config.js
  test/webpack.config.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build(tslint): update tslint config
  packages/element/__tests__/computer.ts
  packages/element/__tests__/element.ts
  packages/form/src/index.d.ts
  packages/lit-html-renderer/__tests__/withCustomElement.ts
  packages/lit-html-renderer/src/withCustomElement.d.ts
  packages/redux/__tests__/index.ts
  packages/styles/src/index.d.ts
  packages/typings/lib/index.d.ts
  packages/utils/__tests__/defineExtendable.ts
  packages/utils/__tests__/makeAccessor.ts
  packages/utils/__tests__/propertyUtils.ts
  packages/utils/src/defineExtendable.d.ts
  packages/utils/src/makeAccessor.d.ts
  packages/utils/src/setters.d.ts
  tslint.json
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix(styles): fire stylesAttachedCallback for URLs correctly
  packages/styles/src/index.js
Due: prettier --write, eslint --fix

test(styles): update tests
  packages/styles/__tests__/index.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build(test): serve test CSS files
  test/assets/styles/basic.css
  test/karma.conf.js
Due: none

refactor(styles): improve link adding algorithm and stylesAdvanced API
  packages/styles/__tests__/index.ts
  packages/styles/src/index.d.ts
  packages/styles/src/index.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): add documentation & make small improvements
  packages/utils/__tests__/makeAccessor.ts
  packages/utils/__tests__/setters.ts
  packages/utils/__tests__/tokenRegistry.ts
  packages/utils/package.json
  packages/utils/src/asserts.d.ts
  packages/utils/src/asserts.js
  packages/utils/src/defineExtendable.d.ts
  packages/utils/src/getSupers.d.ts
  packages/utils/src/makeAccessor.d.ts
  packages/utils/src/propertyUtils.d.ts
  packages/utils/src/scheduler.d.ts
  packages/utils/src/setters.d.ts
  packages/utils/src/setters.js
  packages/utils/src/shallowEqual.d.ts
  packages/utils/src/shallowEqual.js
  packages/utils/src/tokenRegistry.d.ts
  packages/utils/src/tokenRegistry.js
  packages/utils/typedoc.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(styles): add documentation
  packages/styles/package.json
  packages/styles/src/index.d.ts
  packages/styles/typedoc.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix: update code to the new utils API
  packages/element/src/computer.js
  packages/form/src/option.js
Due: prettier --write, eslint --fix

test(element): update test case name
  packages/element/__tests__/computer.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs(styles): fix example
  packages/styles/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(utils): improve code speed & readability
  packages/utils/src/defineExtendable.d.ts
  packages/utils/src/defineExtendable.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): rename getSupers -> reflectClassMethods
  packages/context/src/consumer.js
  packages/context/src/provider.js
  packages/context/src/utils.js
  packages/element/src/element.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/redux/src/redux.js
  packages/router/src/provider.js
  packages/storeon/src/storeon.js
  packages/styles/src/index.js
  packages/utils/__tests__/index.ts
  packages/utils/__tests__/reflectClassMethods.ts
  packages/utils/src/getSupers.js
  packages/utils/src/reflectClassMethods.d.ts
  packages/utils/src/reflectClassMethods.js
  scripts/project.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(styles): adjust example
  packages/styles/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build(typedoc): move docs generation to the project level
  package.json
  packages/styles/package.json
  packages/styles/src/index.d.ts
  packages/styles/typedoc.js
  packages/utils/package.json
  packages/utils/src/asserts.d.ts
  packages/utils/src/defineExtendable.d.ts
  packages/utils/src/makeAccessor.d.ts
  packages/utils/src/propertyUtils.d.ts
  packages/utils/src/reflectClassMethods.d.ts
  packages/utils/src/scheduler.d.ts
  packages/utils/src/setters.d.ts
  packages/utils/src/shallowEqual.d.ts
  packages/utils/src/tokenRegistry.d.ts
  packages/utils/typedoc.js
  typedoc.json
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(context): add documentation and improve namings
  packages/context/src/index.d.ts
  packages/context/src/isProvider.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(styles): move mechanism description to the module top and improve docs
  packages/styles/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs(element): add documentation
  packages/element/src/element.js
  packages/element/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs: use the root readme for the documentation
  packages/form/src/index.d.ts
  typedoc.json
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

style(element): improve property naming
  packages/element/src/attribute.js
  packages/element/src/computer.js
  packages/element/src/element.js
  packages/element/src/internal.js
  packages/element/src/property.js
Due: prettier --write, eslint --fix

refactor(element): move tokens/lifecycle.js -> tokens.js
  packages/element/src/element.js
  packages/element/src/index.js
  packages/element/src/internal.js
  packages/element/src/property.js
  packages/element/src/tokens.js
Due: prettier --write, eslint --fix

docs(styles): move the how-it-works section back to stylesAdvanced function
  packages/styles/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs: move token approach description to the tokenRegistry util
  packages/context/src/index.d.ts
  packages/utils/src/tokenRegistry.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs(form): add documentation
  packages/form/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs(utils): restyle
  packages/utils/src/asserts.d.ts
  packages/utils/src/defineExtendable.d.ts
  packages/utils/src/makeAccessor.d.ts
  packages/utils/src/propertyUtils.d.ts
  packages/utils/src/reflectClassMethods.d.ts
  packages/utils/src/scheduler.d.ts
  packages/utils/src/setters.d.ts
  packages/utils/src/shallowEqual.d.ts
  packages/utils/src/tokenRegistry.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs(context): fix typo
  packages/context/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs(form): add note for interfaces implementation
  packages/form/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(form): rename api to gear
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/gear.js
  packages/form/src/index.d.ts
  packages/form/src/index.js
  packages/form/src/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(lit-html-renderer): add documentation
  packages/lit-html-renderer/src/index.d.ts
  packages/lit-html-renderer/src/init.d.ts
  packages/lit-html-renderer/src/shady.d.ts
  packages/lit-html-renderer/src/withCustomElement.d.ts
  packages/lit-html-renderer/src/withUnsafeStatic.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

Path conditions:
  prettier --write: (any of: packages/**/*.ts) or (any of: packages/**/*.js)
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
