Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["tslint -c tslint.json -p tsconfig.json -t verbose", "git add"],
  "packages/**/*.js": ["eslint --fix", "git add"]
}

fix: use private properties that are generated during decorating
  packages/element/src/decorators/element.js
  packages/element/src/tokens/internal.js
  packages/redux/src/decorators.js
  packages/redux/src/index.js
  packages/redux/src/tokens/internal.js
  packages/redux/src/utils.js
  packages/router/src/Link.js
  packages/router/src/outlet.js
  packages/router/src/tokens/internal.js
Due: eslint --fix

fix(utils): make getSuperMethods work correctly for inheritance case
  packages/utils/__tests__/getSuperMethods.ts
  packages/utils/src/getSuperMethods.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(element): make invalidation to work correctly if one element extends another
  packages/element/__tests__/decorators/element.ts
  packages/element/src/decorators/element.js
  packages/element/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: initial commit for @corpuscule/form
  package.json
  packages/form/package.json
  packages/form/src/context.js
  packages/form/src/form.js
  packages/form/src/index.js
  packages/form/src/tokens/internal.js
  packages/form/src/tokens/lifecycle.js
Due: eslint --fix

refactor(form): use decorators approach
  packages/form/src/form.js
  packages/form/src/tokens/internal.js
Due: eslint --fix

build: update final-form dependency
  package-lock.json
Due: none

feat(utils): add shallowEqual function
  packages/utils/__tests__/shallowEqual.ts
  packages/utils/src/shallowEqual.d.ts
  packages/utils/src/shallowEqual.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(form): move "all" to a separate module
  packages/form/src/form.js
  packages/form/src/utils.js
Due: eslint --fix

refactor(form): improve code
  packages/form/package.json
  packages/form/src/form.js
  packages/form/src/tokens/internal.js
  packages/form/src/tokens/lifecycle.js
Due: eslint --fix

refactor(form): rename formValues -> formState
  packages/form/src/form.js
  packages/form/src/tokens/lifecycle.js
Due: eslint --fix

fix(form): subscribe to form properly
  packages/form/src/form.js
Due: eslint --fix

feat(form): add typescript definitions for form decorator
  packages/form/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(form): rename "formInstance" to "formApi"
  packages/form/src/form.js
  packages/form/src/index.d.ts
  packages/form/src/tokens/lifecycle.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(form): use symbols for final-form properties
  packages/form/src/form.js
  packages/form/src/index.d.ts
  packages/form/src/tokens/field.js
  packages/form/src/tokens/form.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(form): improve code
  packages/form/src/form.js
  packages/form/src/index.js
  packages/form/src/tokens/field.js
  packages/form/src/tokens/form.js
Due: eslint --fix

refactor(form): rewrite form with new architecture
  packages/form/src/context.js
  packages/form/src/form.js
  packages/form/src/index.d.ts
  packages/form/src/index.js
  packages/form/src/tokens/field.js
  packages/form/src/tokens/form.js
  packages/form/src/tokens/internal.js
  packages/form/src/tokens/lifecycle.js
  packages/form/src/utils.js
  packages/utils/src/shallowEqual.js
  scripts/project.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(utils): add "createDualDescriptor" util
  packages/utils/__tests__/createDualDescriptor.ts
  packages/utils/__tests__/index.ts
  packages/utils/src/createDualDescriptor.d.ts
  packages/utils/src/createDualDescriptor.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(utils): add "lifecycleKeys" array
  packages/utils/src/descriptors.js
Due: eslint --fix

refactor(element): improve implementation
  packages/element/src/decorators/attribute.js
  packages/element/src/decorators/computingPair.js
  packages/element/src/decorators/element.js
Due: eslint --fix

refactor(form): improve form implementation
  packages/form/src/context.js
  packages/form/src/form.js
  packages/form/src/index.js
  packages/form/src/tokens/field/internal.js
  packages/form/src/tokens/field/lifecycle.js
  packages/form/src/tokens/form.js
  packages/form/src/tokens/form/internal.js
  packages/form/src/tokens/form/lifecycle.js
  packages/form/src/tokens/internal.js
Due: eslint --fix

build: disable "no-extra-parens" eslint rule because it's buggy
  .eslintrc
Due: none
