Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["tslint -c tslint.json -p tsconfig.json -t verbose", "git add"],
  "packages/**/*.js": ["eslint --fix", "git add"]
}

refactor(element): use "addToRegistry" for adding to registries
  packages/element/src/decorators/attribute.js
Due: eslint --fix

refactor(element): rename
  packages/element/src/decorators/computingPair.js
  packages/element/src/index.d.ts
  packages/element/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(element): add new test for computing pair decorators
  packages/element/__tests__/decorators/computingPair.ts
  packages/element/__tests__/index.ts
  packages/element/src/decorators/computingPair.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(element): add new test for property decorator
  packages/element/__tests__/decorators/property.ts
  packages/element/__tests__/index.ts
  packages/element/src/decorators/property.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

style(utils): use test function names same as in @corpuscule/element
  packages/utils/__tests__/addToRegistry.ts
  packages/utils/__tests__/assertKind.ts
  packages/utils/__tests__/getSuperMethod.ts
  packages/utils/__tests__/index.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test(utils): improve test case descriptions
  packages/utils/__tests__/addToRegistry.ts
  packages/utils/__tests__/assertKind.ts
  packages/utils/__tests__/getSuperMethod.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test(element): add new test for state decorator
  packages/element/__tests__/decorators/state.ts
  packages/element/__tests__/index.ts
  packages/element/src/decorators/state.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(element): combine tests for [propertyChangedCallback] and [$$invalidate]
  packages/element/__tests__/decorators/property.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): move all initialization into attribute decorator
  packages/element/__tests__/decorators/attribute.ts
  packages/element/src/decorators/attribute.js
  packages/element/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): move attributeChangedCallback to attribute decorator
  packages/element/__tests__/decorators/attribute.ts
  packages/element/src/decorators/attribute.js
  packages/element/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(element): improve code style of property & state decorators tests
  packages/element/__tests__/decorators/property.ts
  packages/element/__tests__/decorators/state.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): make attribute initialization avoid calling changed callback on initialization as property and state decorators do
  packages/element/__tests__/decorators/attribute.ts
  packages/element/__tests__/decorators/property.ts
  packages/element/src/decorators/attribute.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): remove invalidation in decorators
  packages/element/__tests__/decorators/attribute.ts
  packages/element/__tests__/decorators/property.ts
  packages/element/__tests__/decorators/state.ts
  packages/element/src/decorators/attribute.js
  packages/element/src/decorators/property.js
  packages/element/src/decorators/state.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): make getSuperMethod-returned function context-depending
  packages/context/src/index.js
  packages/redux/src/index.js
  packages/router/src/outlet.js
  packages/utils/__tests__/getSuperMethod.ts
  packages/utils/src/getSuperMethod.d.ts
  packages/utils/src/getSuperMethod.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(element): move HTMLElementMock to a separate module
  packages/element/__tests__/decorators/attribute.ts
  packages/element/__tests__/utils.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test(element): remove mention of [$$invalidate] in test cases
  packages/element/__tests__/decorators/state.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): forbid default values for attributes
  packages/element/__tests__/decorators/attribute.ts
  packages/element/src/decorators/attribute.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): use element decorator instead of CorpusculeElement class
  packages/element/__tests__/decorators/element.ts
  packages/element/package.json
  packages/element/src/decorators/element.js
  packages/element/src/index.d.ts
  packages/element/src/index.js
  packages/element/src/tokens/internal.js
  packages/element/src/tokens/lifecycle.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(element): add test for extending existing element
  packages/element/__tests__/decorators/element.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

build(test): remove puppeteer
  package-lock.json
  package.json
  test/karma.conf.js
Due: none

build(test): remove puppeteer
  package.json
  test/karma.conf.js
Due: none

build: use class properties
  scripts/rollup.config.js
  test/webpack.config.js
Due: none
