Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["tslint -c tslint.json -p tsconfig.json -t verbose", "git add"],
  "packages/**/*.js": ["eslint --fix", "git add"]
}

build(redux): update dependencies
  packages/redux/package-lock.json
  packages/redux/package.json
Due: none

build(redux): update dependencies
  packages/redux/package.json
Due: none

build(redux): version 0.4.0
  packages/redux/package.json
Due: none

build(router): update dependencies
  packages/router/package-lock.json
  packages/router/package.json
Due: none

build(router): update dependencies
  packages/router/package.json
Due: none

build(router): version 0.4.0
  packages/router/package.json
Due: none

build(styles): update dependencies
  packages/styles/package.json
Due: none

build(styles): update dependencies
  packages/styles/package-lock.json
  packages/styles/package.json
Due: none

build(styles): fix package description
  packages/styles/package.json
Due: none

build(styles): version 0.4.0
  packages/styles/package.json
Due: none

build: update dev dependencies & remove unnecessary ones
  package.json
Due: none

build: update dev dependencies & remove unnecessary ones
  package-lock.json
  package.json
Due: none

refactor(element): simplify private properties names
  packages/element/src/index.js
  packages/element/src/tokens/internal.js
Due: eslint --fix

feat(element): apply "getDerivedStateFromProps" 16.4 bugfix
  packages/element/src/index.js
Due: eslint --fix

refactor(types): update Omit type to a new typescript version
  packages/types/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(router): use Link internal properties
  packages/router/src/Link.js
Due: eslint --fix

feat(router): add [resolve]() method to improve UniversalRouter experience
  packages/router/src/index.d.ts
  packages/router/src/index.js
  packages/router/src/tokens/lifecycle.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(router): use imported symbols without namespace
  packages/router/src/Link.js
  packages/router/src/index.js
Due: eslint --fix

refactor(router): move outlet code to separate file
  packages/router/src/index.js
  packages/router/src/outlet.js
Due: eslint --fix

build: rename pacakge types -> typings
  packages/types/package.json
  packages/typings/package.json
  packages/typings/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(utils): rename "pipe" function to "compose"
  packages/utils/src/compose.d.ts
  packages/utils/src/compose.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build(utils): version 0.3.0
  packages/utils/package.json
Due: none

refactor(typings): remove unnecessary tslint commands
  packages/typings/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

build: support typings & utils changes
  scripts/project.js
Due: none
