Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: update dependencies
  package-lock.json
  package.json
Due: none

build: update package descriptions
  packages/element/package.json
  packages/redux/package.json
  packages/styles/package.json
  packages/utils/package.json
Due: none

build: change lerna versioning to single version
  lerna.json
Due: none

build: remove lerna version from config
  lerna.json
Due: none

v0.6.0
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/styles/package.json
  packages/typings/package.json
  packages/utils/package.json
Due: none

build(form): fix building process
  scripts/project.js
Due: none

refactor(form): use @corpuscule/typings package
  packages/form/package.json
  packages/form/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build: stop using unnecessary babel plugins
  package.json
  scripts/rollup.config.js
  test/webpack.config.js
Due: none

build: stop using unnecessary babel plugins
  package-lock.json
  package.json
  scripts/rollup.config.js
  test/webpack.config.js
Due: none

build: use commit message template for lerna
  lerna.json
Due: none

build: v0.6.1
  lerna.json
  packages/form/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/utils/package.json
Due: none

build: use older version of Karma to avoid bug
  package-lock.json
  package.json
Due: none

build: use older version of Karma to avoid bug
  package.json
Due: none

feat: add @corpuscule/lit-html-renderer package
  packages/element/__tests__/decorators/element.ts
  packages/element/__tests__/index.ts
  packages/element/src/decorators/element.js
  packages/element/src/index.d.ts
  packages/element/src/index.js
  packages/element/src/withCorpusculeElement.js
  packages/lit-html-renderer/__tests__/index.ts
  packages/lit-html-renderer/__tests__/renderLitHtml.ts
  packages/lit-html-renderer/__tests__/withCustomElement.ts
  packages/lit-html-renderer/package.json
  packages/lit-html-renderer/src/index.d.ts
  packages/lit-html-renderer/src/index.js
  packages/lit-html-renderer/src/withCustomElement.d.ts
  packages/lit-html-renderer/src/withCustomElement.js
  packages/lit-html-renderer/src/withUnsafeStatic.js
  scripts/project.js
  test/mocks/litHtml.ts
  test/test.js
  test/webpack.config.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: fix issues with lit-html package
  package-lock.json
  package.json
  packages/utils/package.json
Due: none

build: fix issues with lit-html package
  package.json
  packages/utils/package.json
Due: none

build: add building for "withCustomElement" function
  scripts/project.js
Due: none

build(element): remove lit-html dependency for @corpuscule/element
  packages/element/package.json
Due: none

docs(lit-html-renderer): add description comment
  packages/lit-html-renderer/src/withCustomElement.js
Due: prettier --write, eslint --fix

refactor(descriptors): remove enumerability for methods and accessors
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): bind all render system methods to component instance
  packages/element/__tests__/decorators/element.ts
  packages/element/src/decorators/element.js
  test/utils.d.ts
  test/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): remove "isPrivate" property (it does almost nothing)
  packages/context/src/index.js
  packages/element/src/decorators/computingPair.js
  packages/element/src/decorators/internal.js
  packages/element/src/decorators/property.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/redux/src/index.js
  packages/router/src/outlet.js
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): rewrite getSuperMethods as createSupers
  packages/utils/__tests__/createSupers.ts
  packages/utils/__tests__/getSuperMethods.ts
  packages/utils/__tests__/index.ts
  packages/utils/src/createSupers.d.ts
  packages/utils/src/createSupers.js
  packages/utils/src/getSuperMethods.d.ts
  packages/utils/src/getSuperMethods.js
  scripts/project.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): change createSupers' options object to Map
  packages/utils/__tests__/createSupers.ts
  packages/utils/src/createSupers.d.ts
  packages/utils/src/createSupers.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

Path conditions:
  prettier --write: (any of: packages/**/*.ts) or (any of: packages/**/*.js)
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
