Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs: fix prettier issue
  packages/element/docs/element.md
Due: none

docs: improve displaying classes & interfaces in markdown
  packages/element/docs/element.md
Due: none

docs(form): convert inline documentation to markdown
  packages/form/docs/form.md
Due: none

docs: add short module names to the documentation files
  packages/context/docs/context.md
  packages/element/docs/element.md
Due: none

docs: use full module path as the documentation file title
  packages/context/docs/context.md
  packages/element/docs/element.md
  packages/form/docs/form.md
  packages/utils/docs/asserts.md
  packages/utils/docs/defineExtendable.md
  packages/utils/docs/makeAccessors.md
  packages/utils/docs/propertyUtils.md
  packages/utils/docs/reflectClassMethods.md
  packages/utils/docs/scheduler.md
  packages/utils/docs/setters.md
  packages/utils/docs/shallowEqual.md
  packages/utils/docs/tokenRegistry.md
Due: none

docs(lit-html-renderer): convert inline documentation to markdown
  packages/lit-html-renderer/README.md
  packages/lit-html-renderer/docs/index.md
  packages/lit-html-renderer/docs/init.md
  packages/lit-html-renderer/docs/shady.md
  packages/lit-html-renderer/docs/withCustomElement.md
Due: none

docs: rename default documentation files to "index.md"
  packages/context/README.md
  packages/context/docs/index.md
  packages/element/README.md
  packages/element/docs/index.md
  packages/form/README.md
  packages/form/docs/index.md
  packages/lit-html-renderer/docs/index.md
  packages/lit-html-renderer/docs/shady.md
Due: none

docs(element): split documentation to several sheets
  packages/element/docs/ElementDecoratorOptions.md
  packages/element/docs/QueryOptions.md
  packages/element/docs/hooks.md
  packages/element/docs/index.md
Due: none

docs(context): improve readability
  packages/context/docs/index.md
Due: none

docs(form): split documentation to several documents
  packages/form/docs/FieldDecoratorOptions.md
  packages/form/docs/FieldGears.md
  packages/form/docs/FieldInputProps.md
  packages/form/docs/FieldMetaProps.md
  packages/form/docs/FieldOptions.md
  packages/form/docs/FormDecoratorOptions.md
  packages/form/docs/FormGears.md
  packages/form/docs/FormOptions.md
  packages/form/docs/index.md
Due: none

docs: improve style and logical structure
  packages/context/docs/index.md
  packages/element/docs/CorpusculeElement.md
  packages/element/docs/ElementDecoratorOptions.md
  packages/element/docs/index.md
  packages/form/docs/FieldDecoratorOptions.md
  packages/form/docs/FieldGears.md
  packages/form/docs/FieldInputProps.md
  packages/form/docs/FieldMetaProps.md
  packages/form/docs/FieldOptions.md
  packages/form/docs/FormDecoratorOptions.md
  packages/form/docs/FormGears.md
  packages/form/docs/FormOptions.md
  packages/form/docs/index.md
Due: none

docs: improve docs
  packages/context/docs/index.md
  packages/element/docs/ElementDecoratorOptions.md
  packages/element/docs/index.md
  packages/form/docs/index.md
  packages/lit-html-renderer/docs/index.md
  packages/lit-html-renderer/docs/init.md
  packages/lit-html-renderer/docs/shady.md
  packages/lit-html-renderer/docs/withCustomElement.md
Due: none

docs(redux): convert inline documentation to markdown
  packages/redux/docs/index.md
Due: none

docs(router): convert inline documentation to markdown
  packages/router/docs/Link.md
  packages/router/docs/RouterProviderOptions.md
  packages/router/docs/index.md
Due: none

docs(storeon): convert inline documentation to markdown
  packages/storeon/docs/index.md
Due: none

docs: fix various issues
  packages/context/docs/index.md
  packages/element/docs/index.md
  packages/form/docs/index.md
  packages/redux/docs/index.md
Due: none

docs(styles): convert inline documentation to markdown
  packages/styles/docs/StyledElement.md
  packages/styles/docs/StylesDecoratorOptions.md
  packages/styles/docs/index.md
Due: none

docs(element): fix link
  packages/element/docs/CorpusculeElement.md
Due: none

docs(typings): add documentation for the package
  packages/typings/docs/index.md
Due: none

docs(utils): adapt all documentation to the new style
  packages/utils/docs/asserts.md
  packages/utils/docs/defineExtendable.md
  packages/utils/docs/makeAccessors.md
  packages/utils/docs/propertyUtils.md
  packages/utils/docs/reflectClassMethods.md
  packages/utils/docs/scheduler.md
  packages/utils/docs/setters.md
  packages/utils/docs/shallowEqual.md
  packages/utils/docs/tokenRegistry.md
Due: none

docs: improve displaying functions
  packages/element/docs/ElementDecoratorOptions.md
  packages/element/docs/index.md
  packages/form/docs/FieldDecoratorOptions.md
  packages/lit-html-renderer/docs/withCustomElement.md
  packages/redux/docs/index.md
Due: none

docs: fix links in README
  packages/context/README.md
  packages/element/README.md
  packages/form/README.md
  packages/redux/README.md
  packages/router/README.md
  packages/storeon/README.md
  packages/styles/README.md
  packages/typings/README.md
Due: none

build: update dependencies & remove typedoc
  package-lock.json
  package.json
  tsconfig.json
  typedoc.json
Due: none

build: update various config
  .babelrc
  .eslintignore
  .eslintrc
  .huskyrc
  .lintstagedrc
  .prettierrc
  package-lock.json
  package.json
  tsconfig.json
Due: none

refactor(typings): add new common types
  packages/typings/docs/Constructor.md
  packages/typings/docs/CustomElement.md
  packages/typings/docs/index.md
  packages/typings/lib/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(typings): add more types
  packages/typings/docs/BabelPropertyDescriptor.md
  packages/typings/docs/Constructor.md
  packages/typings/docs/CustomElement.md
  packages/typings/docs/DecoratedClassProperties.md
  packages/typings/docs/Exact.md
  packages/typings/docs/index.md
  packages/typings/lib/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(utils): improve several function typings
  packages/utils/__tests__/index.ts
  packages/utils/__tests__/reflectMethods.ts
  packages/utils/docs/defineExtendable.md
  packages/utils/docs/makeAccessors.md
  packages/utils/docs/reflectMethods.md
  packages/utils/src/defineExtendable.ts
  packages/utils/src/makeAccessor.ts
  packages/utils/src/reflectMethods.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(context): move code to typescript
  packages/context/__tests__/index.ts
  packages/context/docs/index.md
  packages/context/package.json
  packages/context/src/consumer.js
  packages/context/src/consumer.ts
  packages/context/src/index.d.ts
  packages/context/src/index.ts
  packages/context/src/isProvider.js
  packages/context/src/isProvider.ts
  packages/context/src/provider.js
  packages/context/src/provider.ts
  packages/context/src/utils.js
  packages/context/src/utils.ts
  packages/context/src/value.js
  packages/context/src/value.ts
  packages/context/tsconfig.build.json
  packages/context/tsconfig.json
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): move code to typescript
  packages/element/__tests__/attribute.ts
  packages/element/__tests__/computer.ts
  packages/element/__tests__/element.ts
  packages/element/__tests__/internal.ts
  packages/element/__tests__/property.ts
  packages/element/__tests__/query.ts
  packages/element/docs/index.md
  packages/element/package.json
  packages/element/src/attribute.js
  packages/element/src/attribute.ts
  packages/element/src/computer.js
  packages/element/src/computer.ts
  packages/element/src/element.js
  packages/element/src/element.ts
  packages/element/src/index.d.ts
  packages/element/src/index.ts
  packages/element/src/internal.js
  packages/element/src/internal.ts
  packages/element/src/property.js
  packages/element/src/property.ts
  packages/element/src/query.js
  packages/element/src/query.ts
  packages/element/src/tokens.ts
  packages/element/src/utils.js
  packages/element/src/utils.ts
  packages/element/tsconfig.build.json
  packages/element/tsconfig.json
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(context): move all internal values to WeakMaps
  packages/context/__tests__/index.ts
  packages/context/src/consumer.ts
  packages/context/src/isProvider.ts
  packages/context/src/provider.ts
  packages/context/src/utils.ts
  packages/context/src/value.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): drop all symbols in favor of string method names & WeakMaps
  packages/element/__tests__/attribute.ts
  packages/element/__tests__/element.ts
  packages/element/__tests__/internal.ts
  packages/element/__tests__/property.ts
  packages/element/src/computer.ts
  packages/element/src/element.ts
  packages/element/src/internal.ts
  packages/element/src/property.ts
  packages/element/src/utils.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(utils): improve various utils
  packages/utils/__tests__/tokenRegistry.ts
  packages/utils/src/defineExtendable.ts
  packages/utils/src/propertyUtils.ts
  packages/utils/src/reflectMethods.ts
  packages/utils/src/setters.ts
  packages/utils/src/tokenRegistry.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(context): move all value stores to token registry
  packages/context/src/consumer.ts
  packages/context/src/index.ts
  packages/context/src/isProvider.ts
  packages/context/src/provider.ts
  packages/context/src/utils.ts
  packages/context/src/value.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): various improvements
  packages/element/src/computer.ts
  packages/element/src/element.ts
  packages/element/src/index.ts
  packages/element/src/tokens.ts
  packages/element/src/utils.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(form): rewrite with typescript & weakmaps
  packages/form/package.json
  packages/form/src/field.js
  packages/form/src/field.ts
  packages/form/src/form.js
  packages/form/src/form.ts
  packages/form/src/gear.js
  packages/form/src/gear.ts
  packages/form/src/index.ts
  packages/form/src/option.js
  packages/form/src/option.ts
  packages/form/src/utils.js
  packages/form/src/utils.ts
  packages/form/tsconfig.build.json
  packages/form/tsconfig.json
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build(config): tune tsconfig & eslint
  .eslintrc
  tsconfig.json
Due: none

refactor(typings): add more detailed types
  packages/typings/lib/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

tmp: add all unsaved changes
  .eslintrc
  packages/context/src/consumer.ts
  packages/context/src/provider.ts
  packages/element/__tests__/attribute.ts
  packages/element/__tests__/element.ts
  packages/element/src/element.ts
  packages/element/src/internal.ts
  packages/element/src/property.ts
  packages/element/src/utils.ts
  packages/router/docs/Link.md
  packages/storeon/__tests__/index.ts
  packages/storeon/src/storeon.js
  packages/styles/docs/StyledElement.md
  packages/typings/docs/index.md
  packages/utils/src/defineExtendable.ts
  packages/utils/src/makeAccessor.ts
  packages/utils/src/reflectMethods.ts
  test/mocks/finalForm.ts
  test/utils.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: update various config & update dependencies
  .babelrc
  .eslintignore
  .eslintrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
  tsconfig.json
Due: none

Path conditions:
  prettier --write: (any of: packages/**/*.ts) or (any of: packages/**/*.js)
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
