Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: drop flat packaging in favor of node-style
  .gitignore
  packages/context/.npmignore
  packages/context/package.json
  packages/element/.npmignore
  packages/element/package.json
  packages/redux/.npmignore
  packages/redux/package-lock.json
  packages/redux/package.json
  packages/router/.npmignore
  packages/router/package-lock.json
  packages/router/package.json
  packages/styles/.npmignore
  packages/styles/package.json
  packages/typings/.npmignore
  packages/typings/package.json
  packages/utils/.npmignore
  packages/utils/package.json
  scripts/build.js
  scripts/rollup.config.js
Due: none

build: drop flat packaging in favor of node-style
  .gitignore
  packages/context/.npmignore
  packages/context/package.json
  packages/element/.npmignore
  packages/element/package.json
  packages/redux/.npmignore
  packages/redux/package.json
  packages/router/.npmignore
  packages/router/package.json
  packages/styles/.npmignore
  packages/styles/package.json
  packages/typings/.npmignore
  packages/typings/package.json
  packages/utils/.npmignore
  packages/utils/package.json
  scripts/build.js
  scripts/rollup.config.js
Due: none

build: add readme stub for every package
  packages/context/README.md
  packages/element/README.md
  packages/redux/README.md
  packages/router/README.md
  packages/styles/README.md
  packages/typings/README.md
  packages/utils/README.md
Due: none

build: ignore log files
  .gitignore
Due: none

build: use packages from npm instead of Github Releases
  packages/context/package-lock.json
  packages/context/package.json
  packages/context/src/index.d.ts
  packages/element/.npmignore
  packages/element/package-lock.json
  packages/element/package.json
  packages/element/src/index.d.ts
  packages/element/src/utils.js
  packages/redux/.npmignore
  packages/redux/package-lock.json
  packages/redux/package.json
  packages/redux/src/index.d.ts
  packages/redux/src/utils.js
  packages/router/.npmignore
  packages/router/package-lock.json
  packages/router/package.json
  packages/router/src/index.d.ts
  packages/styles/.npmignore
  packages/styles/package-lock.json
  packages/styles/package.json
  packages/styles/src/index.d.ts
  packages/typings/package.json
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: use packages from npm instead of Github Releases
  packages/context/package.json
  packages/context/src/index.d.ts
  packages/element/.npmignore
  packages/element/package.json
  packages/element/src/index.d.ts
  packages/element/src/utils.js
  packages/redux/.npmignore
  packages/redux/package.json
  packages/redux/src/index.d.ts
  packages/redux/src/utils.js
  packages/router/.npmignore
  packages/router/package.json
  packages/router/src/index.d.ts
  packages/styles/.npmignore
  packages/styles/package.json
  packages/styles/src/index.d.ts
  packages/typings/package.json
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: use eslint-config-poetez from npm instead of Github Releases
  package.json
Due: none

build: use eslint-config-poetez from npm instead of Github Releases
  package-lock.json
  package.json
Due: none

refactor(element): use direct variable import instead of namespace
  packages/element/src/index.js
Due: eslint --fix

build(element): version 0.4.1
  packages/element/package.json
Due: none

refactor(redux): use direct variable import instead of namespace
  packages/redux/src/index.js
Due: eslint --fix

build(redux): version 0.4.1
  packages/redux/package.json
Due: none

build(router): version 0.4.1
  packages/router/package.json
Due: none

build(styles): version 0.4.1
  packages/styles/package.json
Due: none

build(context): version 0.3.1
  packages/context/package.json
Due: none

build: rename dist -> lib in linter configuration
  .eslintignore
  package.json
Due: none

build: allow unused variables to be declared as "_" only
  .eslintrc
Due: none

refactor(element): rewrite package to use decorators (#4)
  packages/element/__tests__/lifecycle/methods.ts
  packages/element/__tests__/observableFields/attributes.ts
  packages/element/__tests__/observableFields/computed.ts
  packages/element/__tests__/observableFields/index.ts
  packages/element/__tests__/observableFields/properties.ts
  packages/element/__tests__/observableFields/states.ts
  packages/element/package.json
  packages/element/src/decorators.js
  packages/element/src/index.d.ts
  packages/element/src/index.js
  packages/element/src/tokens/internal.js
  packages/element/src/tokens/lifecycle.js
  packages/element/src/utils.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(typings): add support for decorators (#4)
  packages/typings/package.json
  packages/typings/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(context): rewrite package to use decorators (#4)
  packages/context/__tests__/index.ts
  packages/context/package.json
  packages/context/src/index.d.ts
  packages/context/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): use new types from @corpuscule/typings (#4)
  packages/element/package.json
  packages/element/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(redux): rewrite package to use decorators (#4)
  packages/redux/__tests__/index.ts
  packages/redux/package.json
  packages/redux/src/index.d.ts
  packages/redux/src/index.js
  packages/redux/src/tokens/internal.js
  packages/redux/src/tokens/lifecycle.js
  packages/redux/src/utils.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(router): rewrite package to use decorators (#4)
  packages/router/__tests__/outlet.ts
  packages/router/package.json
  packages/router/src/index.d.ts
  packages/router/src/outlet.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

Path conditions:
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
