Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: change order of preparation commands
  package.json
Due: none

feat(utils): add assertKind util
  packages/utils/__tests__/assertKind.ts
  packages/utils/__tests__/index.ts
  packages/utils/src/assertKind.d.ts
  packages/utils/src/assertKind.js
  scripts/project.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor: use assertKind for all packages
  packages/context/src/index.js
  packages/element/__tests__/observableFields/computed.ts
  packages/element/src/decorators.js
  packages/element/src/utils.js
  packages/redux/src/decorators.js
  packages/router/src/outlet.js
  packages/styles/package.json
  packages/styles/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): simplify internal symbol name
  packages/element/src/index.js
  packages/element/src/tokens/internal.js
Due: eslint --fix

fix(element): call property initializers with "this" context
  packages/element/src/index.js
Due: eslint --fix

refactor(element): use symbols for different invalidating scenarios
  packages/element/src/decorators.js
  packages/element/src/index.js
  packages/element/src/tokens/stages.js
Due: eslint --fix

refactor(element): drop using lit-html optional shady rendering
  packages/element/src/index.js
Due: eslint --fix

refactor(element): improve static methods
  packages/element/__tests__/lifecycle/methods.ts
  packages/element/src/index.d.ts
  packages/element/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): remove scheduler
  packages/element/__tests__/CorpusculeElement.ts
  packages/element/src/index.js
  packages/element/src/scheduler.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat: move "computed" decorator to a @corpuscule/decorator-computed package
  packages/decorator-computed/README.md
  packages/decorator-computed/__tests__/index.ts
  packages/decorator-computed/package.json
  packages/decorator-computed/src/index.d.ts
  packages/decorator-computed/src/index.js
  packages/element/__tests__/observableFields/computed.ts
  packages/element/__tests__/observableFields/index.ts
  packages/element/src/decorators.js
  packages/element/src/index.js
  packages/element/src/utils.js
  scripts/project.js
  test/test.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(element): remove unused variable
  packages/element/__tests__/CorpusculeElement.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

feat(element): add @element decorator
  packages/element/__tests__/elementDecorator.ts
  packages/element/__tests__/index.ts
  packages/element/src/decorators.js
  packages/element/src/index.d.ts
  packages/element/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(element): improve tests
  packages/element/__tests__/CorpusculeElement.ts
  packages/element/__tests__/corpusculeElement.ts
  packages/element/__tests__/decorators/attributeDecorator.ts
  packages/element/__tests__/decorators/index.ts
  packages/element/__tests__/decorators/propertyDecorator.ts
  packages/element/__tests__/decorators/stateDecorator.ts
  packages/element/__tests__/index.ts
  packages/element/__tests__/lifecycle/didMethods.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor: move "@computed" decorator back to the @corpuscule/element as a separate module (#8)
  packages/decorator-computed/README.md
  packages/decorator-computed/package.json
  packages/element/__tests__/computed.ts
  packages/element/__tests__/index.ts
  packages/element/src/computed.d.ts
  packages/element/src/computed.js
  scripts/project.js
  test/test.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): optimize attribute guarding
  packages/element/src/decorators.js
Due: eslint --fix

refactor(element): improve typings
  packages/element/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

docs(element): add a couple of clarifications in code
  packages/element/src/index.js
Due: eslint --fix

test(element): disable strict-type-predicates for several tests due to tslint bug
  packages/element/__tests__/decorators/propertyDecorator.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

build: update lit-html dependency to the latest version
  package.json
  packages/element/package.json
  packages/styles/package.json
Due: none

build: update lit-html dependency to the latest version
  package-lock.json
  package.json
  packages/element/package.json
  packages/styles/package.json
Due: none

build: disable tslint "no-unused-variable" rule & enable "noUnusedLocals" and "noUnusedParameters" rules for typescript compiler
  tsconfig.json
  tslint.json
Due: none

Path conditions:
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
