Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(utils): forbid custom properties for descriptors
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(utils): add ability for accessor decorator to be readonly for user
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.d.ts
  packages/utils/src/descriptors.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(context): use proper decorator name & placement
  packages/context/src/value.js
Due: prettier --write, eslint --fix

Revert "feat(utils): add ability for accessor decorator to be readonly for user"
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.d.ts
  packages/utils/src/descriptors.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(router): implement behavior in accordance with docs
  packages/router/__tests__/outlet.ts
  packages/router/src/api.js
  packages/router/src/index.d.ts
  packages/router/src/index.js
  packages/router/src/outlet.js
  packages/router/src/tokens/lifecycle.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(router): use api decorator instead of value & add usage rules
  packages/router/README.md
Due: none

refactor(redux): remove making unit property getter
  packages/redux/README.md
  packages/redux/__tests__/index.ts
  packages/redux/src/redux.js
  packages/redux/src/unit.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): improve asserts API
  packages/utils/__tests__/asserts.ts
  packages/utils/src/asserts.d.ts
  packages/utils/src/asserts.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: disable "no-bitwise" rule
  .eslintrc
Due: none

refactor(utils): reimplement asserts
  packages/utils/__tests__/asserts.ts
  packages/utils/src/asserts.d.ts
  packages/utils/src/asserts.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor: move all packages to new asserts
  packages/context/src/consumer.js
  packages/context/src/provider.js
  packages/context/src/value.js
  packages/element/src/decorators/attribute.js
  packages/element/src/decorators/computingPair.js
  packages/element/src/decorators/element.js
  packages/element/src/decorators/internal.js
  packages/element/src/decorators/property.js
  packages/element/src/utils.js
  packages/form/src/api.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/option.js
  packages/redux/src/dispatcher.js
  packages/redux/src/redux.js
  packages/redux/src/unit.js
  packages/router/src/api.js
  packages/router/src/outlet.js
  packages/styles/src/index.js
Due: prettier --write, eslint --fix

feat(typings): add ClassDescriptor
  packages/typings/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

test(utils): add more tests for asserts
  packages/utils/__tests__/asserts.ts
  packages/utils/src/asserts.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

test(utils): remove addToRegistry util
  packages/utils/__tests__/addToRegistry.ts
  packages/utils/__tests__/index.ts
  packages/utils/src/addToRegistry.d.ts
  packages/utils/src/addToRegistry.js
  scripts/project.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(utils): add running utils tests
  packages/utils/__tests__/index.ts
  packages/utils/__tests__/shallowEqual.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

test(utils): add new test for getSupers util
  packages/utils/__tests__/getSupers.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix(redux): remove unnecessary code & improve update condition
  packages/redux/__tests__/index.ts
  packages/redux/src/redux.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(form): add new test
  packages/form/__tests__/field.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

test(utils): fix scheduler test
  packages/utils/__tests__/scheduler.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build: fix merging package files for utils
  scripts/rollup.config.js
Due: none

build: update dependencies
  package-lock.json
  package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/router/package.json
Due: none

Path conditions:
  prettier --write: (any of: packages/**/*.ts) or (any of: packages/**/*.js)
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
