Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(element): improve documentation for the symbolic property names
  packages/element/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs(styles): improve documentation for the symbolic property names
  packages/styles/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs: add link to the API documentation from the project README
  README.md
Due: none

docs: make all packages links in the project README absolute.
  README.md
Due: none

docs: update generated documentation
  docs/assets/js/search.js
  docs/classes/_corpuscule_lit_html_renderer_lib_withcustomelement.unsafestatic.html
  docs/classes/_corpuscule_router.link.html
  docs/index.html
  docs/interfaces/_corpuscule_element.elementdecoratoroptions.html
  docs/interfaces/_corpuscule_form.fielddecoratoroptions.html
  docs/interfaces/_corpuscule_form.fieldgears.html
  docs/interfaces/_corpuscule_form.fieldinputprops.html
  docs/interfaces/_corpuscule_form.formdecoratoroptions.html
  docs/interfaces/_corpuscule_form.formgears.html
  docs/interfaces/_corpuscule_form.formoptions.html
  docs/interfaces/_corpuscule_router.routerprovideroptions.html
  docs/interfaces/_corpuscule_styles.stylesdecoratoroptions.html
  docs/modules/_corpuscule_context.html
  docs/modules/_corpuscule_element.html
  docs/modules/_corpuscule_form.html
  docs/modules/_corpuscule_lit_html_renderer.html
  docs/modules/_corpuscule_lit_html_renderer_lib_shady.html
  docs/modules/_corpuscule_lit_html_renderer_lib_withcustomelement.html
  docs/modules/_corpuscule_redux.html
  docs/modules/_corpuscule_router.html
  docs/modules/_corpuscule_storeon.html
  docs/modules/_corpuscule_styles.html
  docs/modules/_corpuscule_utils_lib_asserts.html
  docs/modules/_corpuscule_utils_lib_defineextendable.html
  docs/modules/_corpuscule_utils_lib_makeaccessor.html
  docs/modules/_corpuscule_utils_lib_propertyutils.html
  docs/modules/_corpuscule_utils_lib_reflectclassmethods.html
  docs/modules/_corpuscule_utils_lib_scheduler.html
  docs/modules/_corpuscule_utils_lib_setters.html
  docs/modules/_corpuscule_utils_lib_shallowequal.html
  docs/modules/_corpuscule_utils_lib_tokenregistry.html
Due: none

build: v0.14.0
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/storeon/package.json
  packages/styles/package.json
  packages/typings/package.json
  packages/utils/package.json
Due: none

docs(form): get examples back
  packages/form/README.md
Due: none

feat(styles): add support for CSSStyleSheet object
  packages/styles/__tests__/index.ts
  packages/styles/src/index.d.ts
  packages/styles/src/index.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs: update generated docs to v0.14.1
  docs/.nojekyll
  docs/classes/_corpuscule_lit_html_renderer_lib_withcustomelement.unsafestatic.html
  docs/interfaces/_corpuscule_element.elementdecoratoroptions.html
  docs/interfaces/_corpuscule_element.elementgears.html
  docs/interfaces/_corpuscule_form.fielddecoratoroptions.html
  docs/interfaces/_corpuscule_form.fieldgears.html
  docs/interfaces/_corpuscule_form.fieldinputprops.html
  docs/interfaces/_corpuscule_form.formdecoratoroptions.html
  docs/interfaces/_corpuscule_form.formgears.html
  docs/interfaces/_corpuscule_form.formoptions.html
  docs/interfaces/_corpuscule_router.routerprovideroptions.html
  docs/interfaces/_corpuscule_styles.stylesdecoratoroptions.html
  docs/interfaces/_corpuscule_styles.stylesgears.html
  docs/modules/_corpuscule_context.html
  docs/modules/_corpuscule_element.html
  docs/modules/_corpuscule_form.html
  docs/modules/_corpuscule_lit_html_renderer.html
  docs/modules/_corpuscule_lit_html_renderer_lib_shady.html
  docs/modules/_corpuscule_lit_html_renderer_lib_withcustomelement.html
  docs/modules/_corpuscule_redux.html
  docs/modules/_corpuscule_router.html
  docs/modules/_corpuscule_storeon.html
  docs/modules/_corpuscule_styles.html
  docs/modules/_corpuscule_utils_lib_asserts.html
  docs/modules/_corpuscule_utils_lib_defineextendable.html
  docs/modules/_corpuscule_utils_lib_makeaccessor.html
  docs/modules/_corpuscule_utils_lib_propertyutils.html
  docs/modules/_corpuscule_utils_lib_reflectclassmethods.html
  docs/modules/_corpuscule_utils_lib_setters.html
  docs/modules/_corpuscule_utils_lib_shallowequal.html
  docs/modules/_corpuscule_utils_lib_tokenregistry.html
Due: none

build: add idea to .gitignore
  .gitignore
Due: none

build: v0.14.1
  lerna.json
  packages/form/package.json
  packages/styles/package.json
Due: none

docs: get .nojekyll back
  docs/.nojekyll
Due: none

build: update dependencies
  package-lock.json
  package.json
Due: none

fix: update code in accordance with dependencies
  packages/form/__tests__/field.ts
  packages/router/__tests__/navigate.ts
  packages/router/src/navigate.js
  packages/storeon/__tests__/index.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: re-generate package-lock.json & update once more
  package-lock.json
  package.json
Due: none

build: replace travis + codecov with github actions + sonarcloud
  .github/workflows/ci.yml
  .travis.yml
  package-lock.json
  package.json
  scripts/convertCoveragePaths.js
  scripts/sonarScanner.sh
  sonar-project.properties
  test/karma.conf.js
Due: none

build(karma): remove IE & Edge from detection & add safari launcher
  package-lock.json
  package.json
  test/karma.conf.js
  test/test.js
Due: none

test: add polyfills and fix tests for new browsers
  package-lock.json
  package.json
  packages/context/__tests__/index.ts
  packages/styles/__tests__/index.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix(form): repair checking class to be the heir of customized built-in element
  packages/form/src/field.js
  packages/form/src/utils.js
Due: prettier --write, eslint --fix

fix(router): consider mutation observer changes for Link tests
  packages/router/__tests__/Link.ts
  test/utils.d.ts
  test/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix(lit-html-renderer): override the property that is readonly in Safari
  packages/lit-html-renderer/src/init.js
Due: prettier --write, eslint --fix

build: update the customized built-in elements polyfill
  package-lock.json
  package.json
Due: none

build(sonar): exclude tests from sources
  sonar-project.properties
Due: none

build(CI): rename workflow from Continuous Integration to CI
  .github/workflows/ci.yml
Due: none

docs: add badges
  README.md
Due: none

feat(element): add lightDOM option for query selectors
  packages/element/__tests__/query.ts
  packages/element/src/index.d.ts
  packages/element/src/query.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(element): run property and internal callbacks after the property is assigned
  packages/element/__tests__/internal.ts
  packages/element/__tests__/property.ts
  packages/element/src/index.d.ts
  packages/element/src/internal.js
  packages/element/src/property.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

style(element): improve styling
  packages/element/__tests__/query.ts
  packages/element/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build: update dependencies
  package-lock.json
  package.json
  packages/form/package.json
  packages/storeon/package.json
  typedoc.json
Due: none

build: v0.14.2
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/storeon/package.json
  packages/styles/package.json
Due: none

docs: fix links to SonarCloud
  README.md
Due: none

build(CI): include only specific paths for CI to watch over
  .github/workflows/ci.yml
Due: none

build(CI): fix syntax
  .github/workflows/ci.yml
Due: none

build(CI): use proper path exclusion
  .github/workflows/ci.yml
Due: none

build: enable prettier for markdown files
  .prettierignore
Due: none

docs(utils): convert inline documentation to markdown
  packages/utils/README.md
  packages/utils/docs/asserts.md
  packages/utils/docs/defineExtendable.md
  packages/utils/docs/makeAccessors.md
  packages/utils/docs/propertyUtils.md
  packages/utils/docs/reflectClassMethods.md
  packages/utils/docs/scheduler.md
  packages/utils/docs/setters.md
  packages/utils/docs/shallowEqual.md
  packages/utils/docs/tokenRegistry.md
Due: none

docs(context): convert inline documentation to markdown
  packages/context/README.md
  packages/context/docs/context.md
Due: none

docs(element): convert inline documentation to markdown
  packages/element/README.md
  packages/element/docs/element.md
Due: none

docs(element): improve typescript interface/class parts displaying
  packages/element/docs/element.md
Due: none

Path conditions:
  prettier --write: (any of: packages/**/*.ts) or (any of: packages/**/*.js)
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
