Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["tslint -c tslint.json -p tsconfig.json -t verbose", "git add"],
  "packages/**/*.js": ["eslint --fix", "git add"]
}

build(config): enable testing for @corpuscule/context
  scripts/project.js
  test/test.js
Due: none

build: update dependencies for refactor
  package.json
Due: none

build: update dependencies for refactor
  package-lock.json
  package.json
Due: none

build: update lint command
  package-lock.json
  package.json
Due: none

build: update lint command
  package.json
Due: none

style: update components to new lint rules
  packages/redux/src/decorators.ts
  packages/redux/src/index.ts
  packages/redux/src/tokens.ts
  packages/redux/src/types.d.ts
  packages/redux/src/utils.ts
  packages/router/src/Link.ts
  packages/router/src/createRouter.ts
  packages/router/src/decorators.ts
  packages/router/src/index.ts
  packages/router/src/push.ts
  packages/router/src/routerConnectionUtils.ts
  packages/router/src/tokens.ts
  packages/router/src/types.d.ts
  packages/styles/src/index.ts
  packages/styles/src/types.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

build(element): version 0.3.0
  packages/element/package.json
Due: none

refactor(redux): rewrite package in esnext with d.ts using @corpuscule/context
  packages/redux/package.json
  packages/redux/src/decorators.ts
  packages/redux/src/index.d.ts
  packages/redux/src/index.js
  packages/redux/src/index.ts
  packages/redux/src/tokens.ts
  packages/redux/src/tokens/internal.js
  packages/redux/src/tokens/lifecycle.js
  packages/redux/src/types.d.ts
  packages/redux/src/utils.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(redux): rewrite package in esnext with d.ts using @corpuscule/context
  packages/redux/package-lock.json
  packages/redux/package.json
  packages/redux/src/decorators.ts
  packages/redux/src/index.d.ts
  packages/redux/src/index.js
  packages/redux/src/index.ts
  packages/redux/src/tokens.ts
  packages/redux/src/tokens/internal.js
  packages/redux/src/tokens/lifecycle.js
  packages/redux/src/types.d.ts
  packages/redux/src/utils.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor: move testing utils to a single separate file
  packages/context/__tests__/index.ts
  packages/context/__tests__/utils.ts
  packages/element/__tests__/decorators.ts
  packages/element/__tests__/lifecycle/didMethods.ts
  packages/element/__tests__/lifecycle/index.ts
  packages/element/__tests__/lifecycle/methods.ts
  packages/element/__tests__/observableFields/attributes.ts
  packages/element/__tests__/observableFields/computed.ts
  packages/element/__tests__/observableFields/index.ts
  packages/element/__tests__/observableFields/properties.ts
  packages/element/__tests__/observableFields/states.ts
  packages/element/__tests__/utils.ts
  test/utils.d.ts
  test/utils.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(context): split single "value" symbol to "providingValue" and "contextValue"
  packages/context/__tests__/index.ts
  packages/context/src/index.d.ts
  packages/context/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build(context): version 0.2.0
  packages/context/package.json
Due: none

build: update "eslint-config-poetez" to v0.1.1
  package.json
Due: none

build: update "eslint-config-poetez" to v0.1.1
  package-lock.json
  package.json
Due: none

feat: add "@corpuscule/utils" package
  packages/utils/__tests__/index.ts
  packages/utils/__tests__/propertyChain.ts
  packages/utils/package.json
  packages/utils/src/propertyChain.d.ts
  packages/utils/src/propertyChain.js
  test/test.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: add "@corpuscule/utils" to build script
  scripts/project.js
Due: none

feat(element): use "@corpuscule/utils" to handle properties in prototype chain
  packages/element/package-lock.json
  packages/element/package.json
  packages/element/src/index.js
  packages/element/src/utils.js
Due: eslint --fix

feat(element): use "@corpuscule/utils" to handle properties in prototype chain
  packages/element/package.json
  packages/element/src/index.js
  packages/element/src/utils.js
Due: eslint --fix

refactor(redux): critical improvements
  packages/redux/package.json
  packages/redux/src/index.d.ts
  packages/redux/src/index.js
  packages/redux/src/tokens/internal.js
  packages/redux/src/tokens/lifecycle.js
  packages/redux/src/utils.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(redux): critical improvements
  packages/redux/package-lock.json
  packages/redux/package.json
  packages/redux/src/index.d.ts
  packages/redux/src/index.js
  packages/redux/src/tokens/internal.js
  packages/redux/src/tokens/lifecycle.js
  packages/redux/src/utils.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(redux): add tests
  packages/redux/__tests__/index.ts
  test/test.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(styles): rewrite project in esnext with d.ts; use property approach
  packages/styles/__tests__/index.ts
  packages/styles/__tests__/typings.d.ts
  packages/styles/package-lock.json
  packages/styles/package.json
  packages/styles/src/index.d.ts
  packages/styles/src/index.js
  packages/styles/src/index.ts
  packages/styles/src/tokens.js
  packages/styles/src/tokens.ts
  packages/styles/src/types.d.ts
  packages/styles/src/utils.js
  packages/styles/src/utils.ts
  test/test.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(styles): rewrite project in esnext with d.ts; use property approach
  packages/styles/__tests__/index.ts
  packages/styles/__tests__/typings.d.ts
  packages/styles/package.json
  packages/styles/src/index.d.ts
  packages/styles/src/index.js
  packages/styles/src/index.ts
  packages/styles/src/tokens.js
  packages/styles/src/tokens.ts
  packages/styles/src/types.d.ts
  packages/styles/src/utils.js
  packages/styles/src/utils.ts
  test/test.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): use PropertyKey for property key typings
  packages/element/src/decorators.d.ts
  packages/element/src/decorators.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(redux): add typescript decorators
  packages/redux/src/decorators.d.ts
  packages/redux/src/decorators.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: add "@corpuscule/redux" and "@corpuscule/styles" for building
  scripts/project.js
Due: none

test(redux): add tests for decorators
  packages/redux/__tests__/decorators.ts
  packages/redux/__tests__/index.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose
