Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(redux): rename api -> gear
  packages/redux/__tests__/index.ts
  packages/redux/src/index.d.ts
  packages/redux/src/index.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(redux): add documentation
  packages/redux/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs(form): improve documentation
  packages/form/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(storeon): rename api -> gear
  packages/storeon/__tests__/index.ts
  packages/storeon/src/index.d.ts
  packages/storeon/src/index.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(redux): improve variable naming
  packages/redux/src/dispatcher.js
  packages/redux/src/index.d.ts
  packages/redux/src/redux.js
  packages/redux/src/unit.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(form): improve variable naming
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/gear.js
  packages/form/src/index.d.ts
  packages/form/src/index.js
  packages/form/src/option.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(storeon): improve variable naming
  packages/storeon/src/dispatcher.js
  packages/storeon/src/index.d.ts
  packages/storeon/src/index.js
  packages/storeon/src/storeon.js
  packages/storeon/src/unit.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(storeon): add documentation
  packages/storeon/src/dispatcher.js
  packages/storeon/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(redux): add note
  packages/redux/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(router): rename api -> gear
  packages/router/__tests__/context.ts
  packages/router/src/gear.js
  packages/router/src/index.d.ts
  packages/router/src/index.js
  packages/router/src/outlet.js
  packages/router/src/provider.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(router): improve variable naming
  packages/router/src/gear.js
  packages/router/src/index.d.ts
  packages/router/src/index.js
  packages/router/src/outlet.js
  packages/router/src/provider.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(styles): remove unnecessary explanation
  packages/styles/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(router): rename push -> navigate
  packages/router/__tests__/index.ts
  packages/router/__tests__/navigate.ts
  packages/router/src/Link.js
  packages/router/src/index.d.ts
  packages/router/src/index.js
  packages/router/src/navigate.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(router): remove unnecessary parameter
  packages/router/__tests__/navigate.ts
  packages/router/src/index.d.ts
  packages/router/src/navigate.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(storeon): fix typos
  packages/storeon/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs(router): add a note in the code
  packages/router/src/provider.js
Due: prettier --write, eslint --fix

docs(router): add documentation
  packages/router/__tests__/context.ts
  packages/router/src/index.d.ts
  packages/router/src/index.js
  packages/router/src/provider.js
  packages/router/src/tokens/lifecycle.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: add typedoc-plugin-no-inherit package
  package-lock.json
  package.json
Due: none

build(typedoc): add script to remove absolute paths from generated docs.
  package.json
  scripts/fixDocs.js
Due: none

docs(lit-html-renderer): add example for withCustomElement function
  docs/classes/_corpuscule_lit_html_renderer_lib_withcustomelement.unsafestatic.html
  docs/classes/_corpuscule_router.link.html
  docs/interfaces/_corpuscule_form.formoptions.html
  docs/modules/_corpuscule_router.html
  packages/lit-html-renderer/src/withCustomElement.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(typings): remove unnecessary types & drop dependencies for them
  packages/element/__tests__/element.ts
  packages/element/package.json
  packages/form/package.json
  packages/form/src/index.d.ts
  packages/typings/lib/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs: update readme for all packages
  packages/context/README.md
  packages/element/README.md
  packages/form/README.md
  packages/lit-html-renderer/README.md
  packages/redux/README.md
  packages/router/README.md
  packages/storeon/README.md
  packages/styles/README.md
  packages/utils/README.md
Due: none

docs: update generated code to the latest version
  docs/assets/js/search.js
  docs/classes/_corpuscule_lit_html_renderer_lib_withcustomelement.unsafestatic.html
  docs/classes/_corpuscule_router.link.html
  docs/interfaces/_corpuscule_element.elementdecoratoroptions.html
  docs/interfaces/_corpuscule_form.fielddecoratoroptions.html
  docs/interfaces/_corpuscule_form.fieldgears.html
  docs/interfaces/_corpuscule_form.fieldinputprops.html
  docs/interfaces/_corpuscule_form.formdecoratoroptions.html
  docs/interfaces/_corpuscule_form.formgears.html
  docs/interfaces/_corpuscule_form.formoptions.html
  docs/interfaces/_corpuscule_router.routerprovideroptions.html
  docs/interfaces/_corpuscule_styles.stylesdecoratoroptions.html
  docs/modules/_corpuscule_context.html
  docs/modules/_corpuscule_element.html
  docs/modules/_corpuscule_form.html
  docs/modules/_corpuscule_lit_html_renderer.html
  docs/modules/_corpuscule_lit_html_renderer_lib_shady.html
  docs/modules/_corpuscule_lit_html_renderer_lib_withcustomelement.html
  docs/modules/_corpuscule_redux.html
  docs/modules/_corpuscule_router.html
  docs/modules/_corpuscule_storeon.html
  docs/modules/_corpuscule_styles.html
  docs/modules/_corpuscule_utils_lib_asserts.html
  docs/modules/_corpuscule_utils_lib_defineextendable.html
  docs/modules/_corpuscule_utils_lib_makeaccessor.html
  docs/modules/_corpuscule_utils_lib_propertyutils.html
  docs/modules/_corpuscule_utils_lib_reflectclassmethods.html
  docs/modules/_corpuscule_utils_lib_scheduler.html
  docs/modules/_corpuscule_utils_lib_setters.html
  docs/modules/_corpuscule_utils_lib_shallowequal.html
  docs/modules/_corpuscule_utils_lib_tokenregistry.html
Due: none

refactor: improve variable naming
  packages/form/src/gear.js
  packages/form/src/option.js
  packages/redux/src/dispatcher.js
  packages/redux/src/unit.js
  packages/router/src/gear.js
  packages/storeon/src/unit.js
  packages/styles/src/index.js
Due: prettier --write, eslint --fix

refactor(utils): remove TokenCreator declaration
  packages/utils/src/tokenRegistry.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(utils): get the TokenCreator back for the tokenRegistry module
  docs/classes/_corpuscule_lit_html_renderer_lib_withcustomelement.unsafestatic.html
  docs/classes/_corpuscule_router.link.html
  docs/interfaces/_corpuscule_element.elementdecoratoroptions.html
  docs/interfaces/_corpuscule_form.fielddecoratoroptions.html
  docs/interfaces/_corpuscule_form.fieldgears.html
  docs/interfaces/_corpuscule_form.fieldinputprops.html
  docs/interfaces/_corpuscule_form.formdecoratoroptions.html
  docs/interfaces/_corpuscule_form.formgears.html
  docs/interfaces/_corpuscule_form.formoptions.html
  docs/interfaces/_corpuscule_router.routerprovideroptions.html
  docs/interfaces/_corpuscule_styles.stylesdecoratoroptions.html
  docs/modules/_corpuscule_context.html
  docs/modules/_corpuscule_element.html
  docs/modules/_corpuscule_form.html
  docs/modules/_corpuscule_lit_html_renderer.html
  docs/modules/_corpuscule_lit_html_renderer_lib_shady.html
  docs/modules/_corpuscule_lit_html_renderer_lib_withcustomelement.html
  docs/modules/_corpuscule_redux.html
  docs/modules/_corpuscule_router.html
  docs/modules/_corpuscule_storeon.html
  docs/modules/_corpuscule_styles.html
  docs/modules/_corpuscule_utils_lib_asserts.html
  docs/modules/_corpuscule_utils_lib_defineextendable.html
  docs/modules/_corpuscule_utils_lib_makeaccessor.html
  docs/modules/_corpuscule_utils_lib_propertyutils.html
  docs/modules/_corpuscule_utils_lib_reflectclassmethods.html
  docs/modules/_corpuscule_utils_lib_scheduler.html
  docs/modules/_corpuscule_utils_lib_setters.html
  docs/modules/_corpuscule_utils_lib_shallowequal.html
  docs/modules/_corpuscule_utils_lib_tokenregistry.html
  packages/utils/src/tokenRegistry.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs(utils): improve documentation
  docs/classes/_corpuscule_lit_html_renderer_lib_withcustomelement.unsafestatic.html
  docs/classes/_corpuscule_router.link.html
  docs/interfaces/_corpuscule_element.elementdecoratoroptions.html
  docs/interfaces/_corpuscule_form.fielddecoratoroptions.html
  docs/interfaces/_corpuscule_form.fieldgears.html
  docs/interfaces/_corpuscule_form.fieldinputprops.html
  docs/interfaces/_corpuscule_form.formdecoratoroptions.html
  docs/interfaces/_corpuscule_form.formgears.html
  docs/interfaces/_corpuscule_form.formoptions.html
  docs/interfaces/_corpuscule_router.routerprovideroptions.html
  docs/interfaces/_corpuscule_styles.stylesdecoratoroptions.html
  docs/modules/_corpuscule_context.html
  docs/modules/_corpuscule_element.html
  docs/modules/_corpuscule_form.html
  docs/modules/_corpuscule_lit_html_renderer.html
  docs/modules/_corpuscule_lit_html_renderer_lib_shady.html
  docs/modules/_corpuscule_lit_html_renderer_lib_withcustomelement.html
  docs/modules/_corpuscule_redux.html
  docs/modules/_corpuscule_router.html
  docs/modules/_corpuscule_storeon.html
  docs/modules/_corpuscule_styles.html
  docs/modules/_corpuscule_utils_lib_asserts.html
  docs/modules/_corpuscule_utils_lib_defineextendable.html
  docs/modules/_corpuscule_utils_lib_makeaccessor.html
  docs/modules/_corpuscule_utils_lib_propertyutils.html
  docs/modules/_corpuscule_utils_lib_reflectclassmethods.html
  docs/modules/_corpuscule_utils_lib_scheduler.html
  docs/modules/_corpuscule_utils_lib_setters.html
  docs/modules/_corpuscule_utils_lib_shallowequal.html
  docs/modules/_corpuscule_utils_lib_tokenregistry.html
  packages/utils/src/asserts.d.ts
  packages/utils/src/defineExtendable.d.ts
  packages/utils/src/makeAccessor.d.ts
  packages/utils/src/propertyUtils.d.ts
  packages/utils/src/reflectClassMethods.d.ts
  packages/utils/src/scheduler.d.ts
  packages/utils/src/setters.d.ts
  packages/utils/src/shallowEqual.d.ts
  packages/utils/src/tokenRegistry.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs: disable jekyll build for the generated documentation
  docs/.nojekyll
Due: none

docs: fix documentation site URL
  packages/context/README.md
  packages/element/README.md
  packages/form/README.md
  packages/lit-html-renderer/README.md
  packages/redux/README.md
  packages/router/README.md
  packages/storeon/README.md
  packages/styles/README.md
  packages/utils/README.md
Due: none

build: update dependencies to the latest versions
  package-lock.json
  package.json
Due: none

feat(element): allow not setting renderer option
  packages/element/__tests__/element.ts
  packages/element/src/element.js
  packages/element/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): use queueMicrotask function instead of Promise.resolve()
  packages/element/src/element.js
Due: prettier --write, eslint --fix

docs(element): improve descriptions
  packages/element/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

feat(element): make guard a function by default to avoid unnecessary null check
  packages/element/src/property.js
Due: prettier --write, eslint --fix

refactor(form): allow custom names for gear and option properties
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/gear.js
  packages/form/src/index.d.ts
  packages/form/src/index.js
  packages/form/src/option.js
  packages/form/src/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

style(form): fix variable naming
  packages/form/src/gear.js
  packages/form/src/utils.js
Due: prettier --write, eslint --fix

feat(router): allow specifying context during the navigation
  packages/router/__tests__/Link.ts
  packages/router/__tests__/context.ts
  packages/router/__tests__/navigate.ts
  packages/router/src/index.d.ts
  packages/router/src/navigate.js
  packages/router/src/provider.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(router): add ability to set context data for the Link component
  packages/router/__tests__/Link.ts
  packages/router/src/Link.js
  packages/router/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): use gear decorator instead of symbols
  packages/element/__tests__/element.ts
  packages/element/__tests__/internal.ts
  packages/element/__tests__/property.ts
  packages/element/__tests__/utils.ts
  packages/element/src/element.js
  packages/element/src/gear.js
  packages/element/src/index.d.ts
  packages/element/src/index.js
  packages/element/src/internal.js
  packages/element/src/property.js
  packages/element/src/tokens.js
  packages/element/src/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

Path conditions:
  prettier --write: (any of: packages/**/*.ts) or (any of: packages/**/*.js)
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
