Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

style(redux): use T instead of U for generics
  packages/redux/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(router): rewrite project in esnext with d.ts; improve router code
  packages/router/package-lock.json
  packages/router/package.json
  packages/router/src/Link.js
  packages/router/src/Link.ts
  packages/router/src/createRouter.js
  packages/router/src/createRouter.ts
  packages/router/src/decorators.ts
  packages/router/src/index.d.ts
  packages/router/src/index.js
  packages/router/src/push.js
  packages/router/src/routerConnectionUtils.ts
  packages/router/src/routerUtils.js
  packages/router/src/tokens.ts
  packages/router/src/tokens/internal.js
  packages/router/src/tokens/lifecycle.js
  packages/router/src/types.d.ts
  scripts/project.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(router): rewrite project in esnext with d.ts; improve router code
  packages/router/package.json
  packages/router/src/Link.js
  packages/router/src/Link.ts
  packages/router/src/createRouter.js
  packages/router/src/createRouter.ts
  packages/router/src/decorators.ts
  packages/router/src/index.d.ts
  packages/router/src/index.js
  packages/router/src/push.js
  packages/router/src/routerConnectionUtils.ts
  packages/router/src/routerUtils.js
  packages/router/src/tokens.ts
  packages/router/src/tokens/internal.js
  packages/router/src/tokens/lifecycle.js
  packages/router/src/types.d.ts
  scripts/project.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(router): simplify Link to be customized built-in element
  packages/router/package.json
  packages/router/src/Link.js
  packages/router/src/index.d.ts
  packages/router/src/tokens/internal.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: update dependencies & add redux and universal-router packages as testing dependencies
  package.json
Due: none

build: update dependencies & add redux and universal-router packages as testing dependencies
  package-lock.json
  package.json
Due: none

refactor(router): move routerUtils to an index.js & improve typings
  packages/router/src/index.d.ts
  packages/router/src/index.js
  packages/router/src/routerUtils.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(router): add stub for testing
  packages/router/__tests__/createRouter.ts
  packages/router/__tests__/index.ts
  test/test.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose

build(redux): make redux peer dependency
  packages/redux/package.json
Due: none

build(redux): make redux peer dependency
  packages/redux/package-lock.json
  packages/redux/package.json
Due: none

refactor(router): rename "route" to "switcher"
  packages/router/src/index.d.ts
  packages/router/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build(router): use official version of "universal-router" & add temporary typings for it
  packages/router/package.json
  packages/router/src/typings.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

build(router): use official version of "universal-router" & add temporary typings for it
  packages/router/package-lock.json
  packages/router/package.json
  packages/router/src/typings.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test(router): add a couple of tests
  packages/router/__tests__/Link.ts
  packages/router/__tests__/index.ts
  packages/router/__tests__/push.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

build: rename "lint:dts" script to "lint:ts"
  package.json
Due: none

feat: add "@copuscule/types" package
  packages/types/package.json
  packages/types/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

build: adapt building process for only-definition packages
  scripts/build.js
  scripts/project.js
  scripts/rollup.config.js
Due: none

refactor: reset document body for each test
  packages/context/__tests__/index.ts
  packages/element/__tests__/index.ts
  packages/redux/__tests__/index.ts
  packages/styles/__tests__/index.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor: use types from "@corpuscule/types"
  packages/context/package.json
  packages/context/src/index.d.ts
  packages/element/package.json
  packages/element/src/index.d.ts
  packages/redux/package.json
  packages/redux/src/index.d.ts
  packages/styles/package.json
  packages/styles/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor: use types from "@corpuscule/types"
  packages/context/package-lock.json
  packages/context/package.json
  packages/context/src/index.d.ts
  packages/element/package.json
  packages/element/src/index.d.ts
  packages/redux/package-lock.json
  packages/redux/package.json
  packages/redux/src/index.d.ts
  packages/styles/package-lock.json
  packages/styles/package.json
  packages/styles/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

build: add universal-router package as testing dependency
  package.json
Due: none

build: add universal-router package as testing dependency
  package-lock.json
  package.json
Due: none

refactor(router): improve router outlet API
  packages/router/src/index.js
  packages/router/src/push.js
  packages/router/src/tokens/internal.js
Due: eslint --fix

refactor(router): use "@corpuscule/types" package & adapt typings for "resolvingPromise"
  packages/router/package-lock.json
  packages/router/package.json
  packages/router/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(router): use "@corpuscule/types" package & adapt typings for "resolvingPromise"
  packages/router/package.json
  packages/router/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test(router): improve tests & add test for outlet
  packages/router/__tests__/Link.ts
  packages/router/__tests__/index.ts
  packages/router/__tests__/outlet.ts
  packages/router/__tests__/push.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test(router): use proper url to test outlet popstate reaction
  packages/router/__tests__/outlet.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

Path conditions:
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
