Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["tslint -c tslint.json -p tsconfig.json -t verbose", "git add"],
  "packages/**/*.js": ["eslint --fix", "git add"]
}

test: clean up
  packages/element/__tests__/decorators/attribute.ts
  packages/router/__tests__/createRouter.ts
  test/mocks/universalRouter.ts
  test/utils.d.ts
  test/utils.js
  test/webpack.config.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose

fix(form): filter [formApi] and [formState] properties from class elements
  packages/form/src/form.js
Due: eslint --fix

refactor(context): remove description for providing and context values
  packages/context/src/index.js
Due: eslint --fix

refactor(form): move all lifecycle symbols to single file
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/index.js
  packages/form/src/tokens/field/lifecycle.js
  packages/form/src/tokens/form/lifecycle.js
  packages/form/src/tokens/lifecycle.js
Due: eslint --fix

refactor(form): simplify lifecycle symbols
  packages/form/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(form): improve field
  packages/form/src/field.js
  packages/form/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(form): add basic tests for field decorator
  packages/form/__tests__/field.ts
  packages/form/__tests__/index.ts
  test/mocks/finalForm.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): improve typings
  packages/element/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(utils): remove isReadonly for bound method to allow spying
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(form): fix option name
  packages/form/src/field.js
  packages/form/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(form): add more tests for field decorator
  packages/form/__tests__/field.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(form): remove events for FieldInputProps typing
  packages/form/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test(form): finish testing field decorator
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/field.js
  test/mocks/finalForm.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(form): allow creating separate form contexts
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/context.js
  packages/form/src/createFormContext.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/index.d.ts
  packages/form/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(form): remove unnecessary object creating
  packages/form/src/createFormContext.js
  packages/form/src/field.js
  packages/form/src/form.js
Due: eslint --fix

fix(form): remove unnecessary filtering formApi property
  packages/form/src/form.js
Due: eslint --fix

refactor(form): simplify property filtering
  packages/form/src/form.js
Due: eslint --fix

refactor(styles): remove lit-html dependency
  packages/styles/__tests__/index.ts
  packages/styles/package.json
  packages/styles/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(styles): small improvements
  packages/styles/src/index.js
Due: eslint --fix

build: update dependencies
  package.json
Due: none
