Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: use class properties
  scripts/rollup.config.js
  test/webpack.config.js
Due: none

build(scripts): build only index file in @corpuscule/element
  scripts/project.js
Due: none

build: allow JS in tsconfig
  tsconfig.json
Due: none

build: disable "ter-padded-blocks" rule
  tslint.json
Due: none

build: remove polyserve package
  package.json
Due: none

build: remove polyserve package
  package-lock.json
  package.json
Due: none

build: improve travis config
  .travis.yml
  test/karma.conf.js
Due: none

build: define ChromeHeadlessNoSandbox properly
  test/karma.conf.js
Due: none

feat(element): allow attribute to accept both null & undefined
  packages/element/__tests__/decorators/attribute.ts
  packages/element/src/decorators/attribute.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(typings): remove obsolete types & add ExtendedPropertyDescriptor
  packages/typings/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

feat(utils): add "descriptors" module
  packages/utils/__tests__/descriptors.ts
  packages/utils/__tests__/index.ts
  packages/utils/package.json
  packages/utils/src/descriptors.d.ts
  packages/utils/src/descriptors.js
  scripts/project.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(element): allow computingPair only for instance fields
  packages/element/__tests__/decorators/computingPair.ts
  packages/element/src/decorators/computingPair.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): use descriptor creators from @corpuscule/utils
  packages/element/src/decorators/attribute.js
  packages/element/src/decorators/computingPair.js
  packages/element/src/decorators/element.js
  packages/element/src/decorators/property.js
  packages/element/src/decorators/state.js
Due: eslint --fix

refactor(element): use new approach for dhtml
  packages/element/src/decorators/element.js
  packages/element/src/dhtml.js
  packages/element/src/index.d.ts
  packages/element/src/index.js
  packages/element/src/withCorpusculeElement.js
  packages/element/src/withUnsafeStatic.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): add property "isCorpusculeElement" with element decorator
  packages/element/__tests__/decorators/element.ts
  packages/element/src/decorators/element.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(element): add tests for "withCorpusculeElement" and "withUnsafeStatic" extensions
  packages/element/__tests__/index.ts
  packages/element/__tests__/withCorpusculeElement.ts
  packages/element/src/withCorpusculeElement.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): remove unnecessary utils
  packages/element/src/utils.js
Due: eslint --fix

refactor(utils): use new "asserts" module instead of "assertKind"
  packages/context/src/index.js
  packages/element/src/decorators/computingPair.js
  packages/element/src/decorators/element.js
  packages/redux/src/decorators.js
  packages/router/src/outlet.js
  packages/styles/src/index.js
  packages/utils/__tests__/assertKind.ts
  packages/utils/__tests__/asserts.ts
  packages/utils/__tests__/index.ts
  packages/utils/src/assertKind.d.ts
  packages/utils/src/assertKind.js
  packages/utils/src/asserts.d.ts
  packages/utils/src/asserts.js
  scripts/project.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): use new assertKind & assertPlacement
  packages/element/src/decorators/attribute.js
  packages/element/src/decorators/computingPair.js
  packages/element/src/decorators/property.js
  packages/element/src/decorators/state.js
  packages/element/src/utils.js
Due: eslint --fix

fix: issues with new "assertKind" interface
  packages/element/src/decorators/computingPair.js
  packages/redux/src/decorators.js
Due: eslint --fix

test(element): add tests for scheduler
  packages/element/__tests__/index.ts
  packages/element/__tests__/scheduler.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

feat(utils): add "boundMethod" to descriptor creators
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.d.ts
  packages/utils/src/descriptors.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

Path conditions:
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
