Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["prettier --write", "tslint -c tslint.json -p tsconfig.json -t verbose", "git add"],
  "packages/**/*.js": ["prettier --write", "eslint --fix", "git add"]
}

build(tsconfig): fix exclude rules
  tsconfig.json
Due: none

build(tslint): disable "ban" rule
  tslint.json
Due: none

fix(element): move attribute registration to the end of class creation
  packages/element/__tests__/attribute.ts
  packages/element/src/attribute.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(styles): override attachShadow on prototype instead of instance
  packages/styles/src/index.js
Due: prettier --write, eslint --fix

docs(context): update documentation
  packages/context/README.md
Due: none

docs(element): update documentation
  packages/element/README.md
Due: none

docs(form): update documentation
  packages/form/README.md
Due: none

docs(redux): update documentation
  packages/redux/README.md
Due: none

fix(router): export createRouterToken function
  packages/router/src/index.d.ts
  packages/router/src/index.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(router): update documentation
  packages/router/README.md
Due: none

docs(styles): update documentation
  packages/styles/README.md
Due: none

docs: update documentation
  README.md
Due: none

docs: remove Flow from typings package description
  README.md
Due: none

refactor(makeAccessor): reduce coupling
  packages/context/src/value.js
  packages/element/src/computer.js
  packages/element/src/internal.js
  packages/element/src/property.js
  packages/form/src/option.js
  packages/utils/__tests__/makeAccessor.ts
  packages/utils/src/makeAccessor.d.ts
  packages/utils/src/makeAccessor.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(defineExtendable): reduce coupling
  packages/context/src/consumer.js
  packages/context/src/provider.js
  packages/element/src/element.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/redux/src/redux.js
  packages/router/src/outlet.js
  packages/utils/__tests__/defineExtendable.ts
  packages/utils/src/defineExtendable.d.ts
  packages/utils/src/defineExtendable.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs: add info about @corpuscule/babel-preset
  README.md
Due: none

build: use published version of @corpuscule/babel-preset
  package-lock.json
  package.json
Due: none

refactor: simplify code
  packages/element/src/attribute.js
  packages/element/src/computer.js
  packages/element/src/element.js
  packages/element/src/internal.js
  packages/element/src/property.js
  packages/element/src/query.js
  packages/element/src/utils.js
  packages/form/src/api.js
  packages/form/src/field.js
  packages/form/src/option.js
  packages/form/src/utils.js
Due: prettier --write, eslint --fix

docs(element): fix decorator signatures
  packages/element/README.md
Due: none

build: use "files" directive to specify files for package
  packages/context/.npmignore
  packages/context/package.json
  packages/element/.npmignore
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/.npmignore
  packages/redux/package.json
  packages/router/.npmignore
  packages/router/package.json
  packages/styles/.npmignore
  packages/styles/package.json
  packages/typings/.npmignore
  packages/typings/package.json
  packages/utils/.npmignore
  packages/utils/package.json
Due: none

build: use lib directory for typings
  .gitignore
  packages/element/__tests__/element.ts
  packages/typings/lib/index.d.ts
  packages/typings/package.json
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build: update dependencies
  package-lock.json
  package.json
  packages/element/__tests__/attribute.ts
  packages/element/__tests__/element.ts
  packages/element/__tests__/query.ts
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/router/__tests__/outlet.ts
  packages/styles/__tests__/index.ts
  packages/utils/__tests__/scheduler.ts
  tsconfig.json
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build(karma): improve usability
  .travis.yml
  package.json
  test/karma.conf.js
  test/webpack.config.js
Due: none

build: v0.12.0
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/styles/package.json
  packages/typings/package.json
  packages/utils/package.json
Due: none

feat: add @corpuscule/storeon package
  package-lock.json
  package.json
  packages/storeon/README.md
  packages/storeon/__tests__/index.ts
  packages/storeon/package.json
  packages/storeon/src/dispatcher.js
  packages/storeon/src/index.d.ts
  packages/storeon/src/index.js
  packages/storeon/src/storeon.js
  packages/storeon/src/unit.js
  packages/storeon/src/utils.js
  scripts/project.js
  test/test.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(redux): improve code & docs
  packages/redux/README.md
  packages/redux/__tests__/index.ts
  packages/redux/package.json
  packages/redux/src/dispatcher.js
  packages/redux/src/redux.js
  packages/redux/src/unit.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: fix audit issues
  package-lock.json
  package.json
Due: none

fix(storeon): remove unnecessary type
  packages/storeon/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs: add @corpuscule/storeon to main doc
  README.md
Due: none

docs: fix storeon name
  README.md
Due: none

fix(storeon): widen version restrictions
  packages/storeon/package.json
Due: none

build: v0.13.0
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/storeon/package.json
  packages/styles/package.json
  packages/typings/package.json
  packages/utils/package.json
Due: none

refactor: use own getter from the value descriptor
  packages/redux/src/redux.js
  packages/storeon/src/storeon.js
Due: prettier --write, eslint --fix

fix(context): make defaultValue for provider undefined instead of null
  packages/context/__tests__/index.ts
  packages/context/src/provider.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(router): make router working correctly with nested routes
  packages/router/__tests__/context.ts
  packages/router/__tests__/createRouter.ts
  packages/router/__tests__/index.ts
  packages/router/__tests__/outlet.ts
  packages/router/src/api.js
  packages/router/src/createRouter.js
  packages/router/src/index.d.ts
  packages/router/src/index.js
  packages/router/src/outlet.js
  packages/router/src/provider.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(form): allow custom property names
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/api.js
  packages/form/src/form.js
  packages/form/src/index.d.ts
  packages/form/src/index.js
  packages/form/src/option.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: update dependencies
  package-lock.json
  package.json
Due: none

build(lit-html-renderer): update lit-html peer dependency
  packages/lit-html-renderer/package.json
Due: none

refactor(utils): remove compose util
  packages/utils/src/compose.d.ts
  packages/utils/src/compose.js
  scripts/project.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix
