Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["prettier --write", "tslint -c tslint.json -p tsconfig.json -t verbose", "git add"],
  "packages/**/*.js": ["prettier --write", "eslint --fix", "git add"]
}

fix(form): rename ref -> refs & fix error
  packages/form/src/api.js
  packages/form/src/utils.js
Due: prettier --write, eslint --fix

test(form): add tests for refs property
  packages/form/__tests__/field.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix(form): restrict form value change conditions
  packages/form/__tests__/field.ts
  packages/form/src/field.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(form): add auto field documentation
  packages/form/README.md
Due: none

fix(form): allow to have empty name on mounting
  packages/form/__tests__/field.ts
  packages/form/src/field.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: v0.10.0
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/styles/package.json
  packages/typings/package.json
  packages/utils/package.json
Due: none

fix(form): convert undef/null values to empty string
  packages/form/__tests__/field.ts
  packages/form/src/field.js
  packages/form/src/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(form): simplify specifying form options
  packages/form/src/form.js
  packages/form/src/index.js
  packages/form/src/option.js
Due: prettier --write, eslint --fix

fix(form): use fieldSubscriptionItems for Field
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/utils.js
  test/mocks/finalForm.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: v0.10.1
  lerna.json
  packages/form/package.json
Due: none

refactor(utils): use linked list for scheduler
  packages/utils/src/scheduler.js
Due: prettier --write, eslint --fix

refactor(utils): improve scheduler algorithm
  packages/utils/src/scheduler.js
Due: prettier --write, eslint --fix

test(utils): improve scheduler tests
  packages/utils/__tests__/scheduler.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs(utils): fix typo
  packages/utils/src/scheduler.js
Due: prettier --write, eslint --fix

build: update packages & move husky config out
  .huskyrc
  package-lock.json
  package.json
Due: none

test(element): use proper fixture & fix typings
  packages/element/__tests__/element.ts
  packages/element/__tests__/internal.ts
  packages/element/__tests__/property.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build: update package-lock.json
  package-lock.json
Due: none

docs: add bundlephobia badges
  packages/context/README.md
  packages/element/README.md
  packages/form/README.md
  packages/lit-html-renderer/README.md
  packages/redux/README.md
  packages/router/README.md
  packages/styles/README.md
Due: none

build: v0.10.2
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/styles/package.json
  packages/utils/package.json
Due: none

feat(form): handle reset event
  packages/form/__tests__/form.ts
  packages/form/src/form.js
  test/mocks/finalForm.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

build: v0.10.3
  lerna.json
  packages/form/package.json
Due: none

refactor(form): allow to use same names for form & field options
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/form.js
  packages/form/src/index.js
  packages/form/src/option.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(element): defer custom elements definition
  packages/element/__tests__/element.ts
  packages/element/src/element.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(element): remove unnecessary note
  packages/element/README.md
Due: none

docs(element): add note about async definition
  packages/element/README.md
Due: none

refactor(form): replace focus/blur -> focusin/focusout
  packages/form/__tests__/field.ts
  packages/form/src/field.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(form): stop running update before first subscription
  packages/form/__tests__/field.ts
  packages/form/src/field.js
  packages/form/src/index.js
  packages/form/src/option.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(form): disable immediate execution of scheduled task
  packages/form/__tests__/field.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix(utils): make scheduler queue-oriented
  packages/utils/__tests__/scheduler.ts
  packages/utils/src/scheduler.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(form): simplify forbidding update if not connected
  packages/form/src/field.js
  packages/form/src/index.js
  packages/form/src/option.js
Due: prettier --write, eslint --fix

fix(form): use scheduling only on Field prop change
  packages/form/__tests__/field.ts
  packages/form/src/field.js
  packages/form/src/index.js
  packages/form/src/option.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(form): stop update Field by option change
  packages/form/__tests__/field.ts
  packages/form/src/field.js
  packages/form/src/option.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(router): add tracking current route
  packages/router/__tests__/outlet.ts
  packages/router/src/api.js
  packages/router/src/index.js
  packages/router/src/outlet.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(lit-html-renderer): move patching CustomElementRegistry to a separate file
  packages/lit-html-renderer/src/init.d.ts
  packages/lit-html-renderer/src/init.js
  packages/lit-html-renderer/src/withCustomElement.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(router): add `route` property docs
  packages/router/README.md
Due: none

docs(router): fix mistakes
  packages/router/README.md
Due: none

docs(lit-html-router): add withCustomElement docs
  packages/lit-html-renderer/README.md
Due: none

docs(element): add rule for decorators order
  packages/element/README.md
Due: none

fix(form): use "input" event instead of "change"
  packages/form/__tests__/field.ts
  packages/form/src/field.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(form): add CodeSandbox examples
  packages/form/README.md
Due: none
