Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["prettier --write", "tslint -c tslint.json -p tsconfig.json -t verbose", "git add"],
  "packages/**/*.js": ["prettier --write", "eslint --fix", "git add"]
}

build: v0.11.0
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/styles/package.json
  packages/typings/package.json
  packages/utils/package.json
Due: none

fix(lit-html-renderer): add init file to the files list
  scripts/project.js
Due: none

build: v0.11.1
  lerna.json
  packages/lit-html-renderer/package.json
Due: none

build: fix externals setting
  scripts/project.js
  scripts/rollup.config.js
Due: none

docs(lit-html-renderer): fix file paths
  packages/lit-html-renderer/README.md
Due: none

build: v0.11.2
  lerna.json
  packages/lit-html-renderer/package.json
Due: none

build: use process.exit to end the building on error
  scripts/build.js
Due: none

refactor(element): use decorator legacy proposal
  packages/element/src/attribute.js
  packages/element/src/computer.js
  packages/element/src/computingPair.js
  packages/element/src/element.js
  packages/element/src/index.d.ts
  packages/element/src/index.js
  packages/element/src/internal.js
  packages/element/src/property.js
  packages/element/src/query.js
  packages/element/src/utils.js
  packages/utils/src/define.d.ts
  packages/utils/src/define.js
  packages/utils/src/descriptorsNew.d.ts
  packages/utils/src/descriptorsNew.js
  packages/utils/src/getSupersNew.d.ts
  packages/utils/src/getSupersNew.js
  packages/utils/src/initUtils.d.ts
  packages/utils/src/initUtils.js
  packages/utils/src/setters.d.ts
  packages/utils/src/setters.js
  packages/utils/src/tokenizer.d.ts
  packages/utils/src/tokenizer.js
  scripts/project.js
  test/test.js
  test/webpack.config.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): improve makeAccessor util
  packages/utils/src/descriptorsNew.d.ts
  packages/utils/src/descriptorsNew.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): improve code to use transpiled initializers
  packages/element/src/computer.js
  packages/element/src/element.js
  packages/element/src/internal.js
  packages/element/src/property.js
  packages/element/src/utils.js
Due: prettier --write, eslint --fix

build(dependencies): add @corpuscule/babel-preset package
  package-lock.json
  package.json
Due: none

build(eslint): ignore ts files
  .eslintignore
Due: none

build(test): add babel-plugin-inject-decorator-initializers
  test/webpack.config.js
Due: none

build(test): use headless chrome
  test/karma.conf.js
Due: none

test(element): use legacy decorator proposal
  packages/element/__tests__/attribute.ts
  packages/element/__tests__/computer.ts
  packages/element/__tests__/element.ts
  packages/element/__tests__/index.ts
  packages/element/__tests__/internal.ts
  packages/element/__tests__/property.ts
  packages/element/__tests__/query.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(utils): improve typings for tokenizer
  packages/element/__tests__/computer.ts
  packages/element/src/index.d.ts
  packages/utils/src/tokenizer.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

test(element): improve tests for computer
  packages/element/__tests__/computer.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

feat(utils): add setObject setter
  packages/utils/src/setters.d.ts
  packages/utils/src/setters.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(context): use legacy decorator proposal
  packages/context/__tests__/index.ts
  packages/context/src/consumer.js
  packages/context/src/index.d.ts
  packages/context/src/index.js
  packages/context/src/isProvider.js
  packages/context/src/provider.js
  packages/context/src/utils.js
  packages/context/src/value.js
  test/test.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): make define function faster and universal
  packages/context/src/consumer.js
  packages/context/src/provider.js
  packages/element/src/element.js
  packages/utils/src/define.d.ts
  packages/utils/src/define.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor: replace tokenizer with custom implementations
  packages/context/package.json
  packages/context/src/consumer.js
  packages/context/src/index.d.ts
  packages/context/src/isProvider.js
  packages/context/src/provider.js
  packages/context/src/utils.js
  packages/context/src/value.js
  packages/element/__tests__/computer.ts
  packages/element/package.json
  packages/element/src/computer.js
  packages/element/src/index.d.ts
  packages/typings/src/index.d.ts
  packages/utils/src/tokenizer.d.ts
  packages/utils/src/tokenizer.js
  scripts/project.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): rename tokenizer -> tokenRegistry
  packages/context/package.json
  packages/context/src/index.d.ts
  packages/context/src/utils.js
  packages/element/__tests__/computer.ts
  packages/element/src/computer.js
  packages/element/src/index.d.ts
  packages/typings/src/index.d.ts
  packages/utils/src/tokenRegistry.d.ts
  packages/utils/src/tokenRegistry.js
  scripts/project.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): export defaultDescriptor from define
  packages/utils/src/define.d.ts
  packages/utils/src/define.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(redux): use legacy decorator proposal
  packages/redux/package.json
  packages/redux/src/dispatcher.js
  packages/redux/src/index.d.ts
  packages/redux/src/index.js
  packages/redux/src/redux.js
  packages/redux/src/unit.js
  packages/redux/src/utils.js
  test/test.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(context): use defaultDescriptor from define
  packages/context/src/value.js
Due: prettier --write, eslint --fix

feat(context): use fallback for descriptor
  packages/context/src/value.js
Due: prettier --write, eslint --fix

refactor(redux): improve implementation
  packages/redux/src/index.d.ts
  packages/redux/src/index.js
  packages/redux/src/redux.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(router): use legacy decorator proposal
  packages/router/src/api.js
  packages/router/src/index.d.ts
  packages/router/src/index.js
  packages/router/src/outlet.js
  packages/router/src/utils.js
  test/test.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(router): improve test style
  packages/router/__tests__/Link.ts
  packages/router/__tests__/createRouter.ts
  packages/router/__tests__/index.ts
  packages/router/__tests__/outlet.ts
  packages/router/__tests__/push.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor(styles): use legacy decorator proposal
  packages/styles/__tests__/index.ts
  packages/styles/src/index.d.ts
  packages/styles/src/index.js
  test/test.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(context): fix issue with isProvider function
  packages/context/__tests__/index.ts
  packages/context/src/isProvider.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(form): use legacy decorator proposal
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/__tests__/index.ts
  packages/form/src/api.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/index.d.ts
  packages/form/src/index.js
  packages/form/src/option.js
  packages/form/src/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): remove define function
  packages/context/src/consumer.js
  packages/context/src/provider.js
  packages/element/src/computer.js
  packages/element/src/element.js
  packages/element/src/internal.js
  packages/element/src/property.js
  packages/element/src/query.js
  packages/element/src/utils.js
  packages/form/src/api.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/option.js
  packages/form/src/utils.js
  packages/redux/src/dispatcher.js
  packages/redux/src/redux.js
  packages/router/src/outlet.js
  packages/styles/src/index.js
  packages/utils/src/define.d.ts
  packages/utils/src/define.js
  packages/utils/src/descriptorsNew.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): clean up
  packages/utils/src/asserts.d.ts
  packages/utils/src/asserts.js
  packages/utils/src/descriptors.d.ts
  packages/utils/src/descriptors.js
  packages/utils/src/descriptorsNew.d.ts
  packages/utils/src/getSupers.d.ts
  packages/utils/src/getSupers.js
  packages/utils/src/getSupersNew.d.ts
  packages/utils/src/getSupersNew.js
  packages/utils/src/initUtils.d.ts
  packages/utils/src/initUtils.js
  packages/utils/src/lifecycleDescriptors.d.ts
  packages/utils/src/lifecycleDescriptors.js
  packages/utils/src/makeAccessor.d.ts
  packages/utils/src/makeAccessor.js
  packages/utils/src/propertyUtils.d.ts
  packages/utils/src/propertyUtils.js
  packages/utils/src/tokenRegistry.js
  scripts/project.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(utils): improve & clean up
  packages/utils/__tests__/asserts.ts
  packages/utils/__tests__/descriptors.ts
  packages/utils/__tests__/getSupers.ts
  packages/utils/__tests__/index.ts
  packages/utils/__tests__/lifecycleDescriptors.ts
  packages/utils/__tests__/makeAccessor.ts
  packages/utils/__tests__/propertyUtils.ts
  packages/utils/__tests__/scheduler.ts
  packages/utils/__tests__/setters.ts
  packages/utils/__tests__/shallowEqual.ts
  packages/utils/__tests__/tokenRegistry.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

refactor: use updated utils
  packages/context/src/consumer.js
  packages/context/src/provider.js
  packages/context/src/utils.js
  packages/context/src/value.js
  packages/element/src/computer.js
  packages/element/src/element.js
  packages/element/src/internal.js
  packages/element/src/property.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/option.js
  packages/redux/src/redux.js
  packages/router/src/outlet.js
  packages/styles/src/index.js
Due: prettier --write, eslint --fix

feat(utils): add defineExtendable util
  packages/utils/__tests__/defineExtendable.ts
  packages/utils/__tests__/index.ts
  packages/utils/src/defineExtendable.d.ts
  packages/utils/src/defineExtendable.js
  scripts/project.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor: apply defineExtendable to all packages
  packages/context/src/consumer.js
  packages/context/src/provider.js
  packages/element/src/element.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/redux/src/redux.js
  packages/router/src/outlet.js
  packages/styles/src/index.js
Due: prettier --write, eslint --fix

test(context): remove unnecessary describe
  packages/context/__tests__/index.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build(test): use all tests & remove unnecessary mock
  test/mocks/context.ts
  test/test.js
Due: none
