Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(element): add list of native elements that can have Shadow Root
  packages/element/README.md
Due: none

fix(context): add checking kind and placement for value decorator
  packages/context/src/value.js
Due: prettier --write, eslint --fix

feat(utils): make accessor to create field if there is no getter and setter
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(context): remove "should" from test descriptions
  packages/context/__tests__/index.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

feat(context): add api to detect provider class
  packages/context/README.md
  packages/context/__tests__/index.ts
  packages/context/src/index.d.ts
  packages/context/src/index.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(context): disallow any default value for consumer
  packages/context/__tests__/index.ts
  packages/context/src/value.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(utils): add separate hook descriptor
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.d.ts
  packages/utils/src/descriptors.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor: use hooks instead of empty fields
  packages/context/src/provider.js
  packages/context/src/value.js
  packages/element/src/decorators/element.js
Due: prettier --write, eslint --fix

feat(utils): add required property assertion
  packages/utils/__tests__/asserts.ts
  packages/utils/src/asserts.d.ts
  packages/utils/src/asserts.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(context): add asserting required properties
  packages/context/src/consumer.js
  packages/context/src/provider.js
Due: prettier --write, eslint --fix

refactor(form): use api and option decorators in accordance with docs
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/api.js
  packages/form/src/createFormContext.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/index.d.ts
  packages/form/src/option.js
  packages/form/src/tokens/lifecycle.js
  packages/form/src/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(element): add updatedCallback declaration
  packages/element/src/decorators/element.js
Due: prettier --write, eslint --fix

test: update context mock & small fix
  packages/utils/__tests__/asserts.ts
  test/mocks/context.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix(form): fix all issues connected with new API
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/api.js
  packages/form/src/createFormContext.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/index.js
  packages/form/src/option.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(form): add tests for option and api decorators
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

docs(form): add latest API changes
  packages/form/README.md
Due: none

refactor(form): move context creation to index & remove tokens
  packages/form/src/createFormContext.js
  packages/form/src/index.js
  packages/form/src/tokens/lifecycle.js
Due: prettier --write, eslint --fix

feat(form): add isForm function
  packages/form/README.md
  packages/form/src/index.d.ts
  packages/form/src/index.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(redux): implement behavior in accordance with docs
  packages/redux/README.md
  packages/redux/__tests__/index.ts
  packages/redux/src/decorators.js
  packages/redux/src/dispatcher.js
  packages/redux/src/index.d.ts
  packages/redux/src/index.js
  packages/redux/src/redux.js
  packages/redux/src/unit.js
  packages/redux/src/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test: fix context.value implementation
  test/mocks/context.ts
Due: none

feat(utils): forbid custom properties for descriptors
  packages/utils/__tests__/descriptors.ts
  packages/utils/src/descriptors.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

Path conditions:
  prettier --write: (any of: packages/**/*.ts) or (any of: packages/**/*.js)
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
