Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

test(style): add tests for url cases
  packages/styles/__tests__/index.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

feat(styles): add basic function to create styles decorator with options
  packages/styles/__tests__/index.ts
  packages/styles/src/index.d.ts
  packages/styles/src/index.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(element): replace bare element decorator with creator function
  packages/element/__tests__/decorators/element.ts
  packages/element/src/decorators/element.js
  packages/element/src/index.d.ts
  packages/element/src/index.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(lit-html-renderer): add shady renderer
  packages/lit-html-renderer/src/shady.d.ts
  packages/lit-html-renderer/src/shady.js
  scripts/project.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(lit-html-renderer): rename render functions
  packages/lit-html-renderer/src/index.js
  packages/lit-html-renderer/src/shady.js
Due: prettier --write, eslint --fix

test(lit-html-renderer): add tests for shady render
  packages/lit-html-renderer/__tests__/index.ts
  packages/lit-html-renderer/__tests__/regular.ts
  packages/lit-html-renderer/__tests__/shady.ts
  test/mocks/litHtmlShady.ts
  test/webpack.config.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build: make homepage specific for each package
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/styles/package.json
  packages/typings/package.json
  packages/utils/package.json
Due: none

docs: add README for the whole project
  README.md
Due: none

build(prettier): ignore markdown files
  .prettierignore
Due: none

fix(element): remove unnecessary symbols
  packages/element/src/tokens/lifecycle.js
Due: prettier --write, eslint --fix

docs(element): add readme
  packages/element/README.md
Due: none

docs(element): fix [createRoot] url
  packages/element/README.md
Due: none

docs(element): add "How to read this documentation" section
  packages/element/README.md
Due: none

docs(element): fix some typos and stylistic issues
  packages/element/README.md
Due: none

docs(element): add section about elements inheritance
  packages/element/README.md
Due: none

docs(element): add examples
  packages/element/README.md
Due: none

docs(element): update styling for React mentions
  packages/element/README.md
Due: none

docs(element): fix typo
  packages/element/README.md
Due: none

docs: add "Separate semantics from logic" for Principles section
  README.md
Due: none

docs(context): add readme
  packages/context/README.md
Due: none

docs(context): add installation section
  packages/context/README.md
Due: none

Path conditions:
  prettier --write: (any of: packages/**/*.ts) or (any of: packages/**/*.js)
  tslint -c tslint.json -p tsconfig.json -t verbose: any of: packages/**/*.ts
  eslint --fix: any of: packages/**/*.js
