Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["tslint -c tslint.json -p tsconfig.json -t verbose", "git add"],
  "packages/**/*.js": ["eslint --fix", "git add"]
}

feat(router): add typings for outlet decorator
  packages/router/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test(router): additional test for different urls
  packages/router/__tests__/outlet.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

test(router): improve code style
  packages/router/__tests__/outlet.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

build(context): version 0.3.0
  packages/context/package.json
Due: none

build(element): version 0.3.1
  packages/element/package.json
Due: none

build(redux): version 0.3.0
  packages/redux/package.json
Due: none

build(router): version 0.3.0
  packages/router/package.json
Due: none

build(styles): version 0.3.0
  packages/styles/package.json
Due: none

build(context): revert to version 0.2.0
  packages/context/package.json
Due: none

refactor(router): add "@types/universal-router" as a peer dependency
  package.json
  packages/router/package.json
  packages/router/src/typings.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(router): add "@types/universal-router" as a peer dependency
  package-lock.json
  package.json
  packages/router/package.json
  packages/router/src/typings.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): rename "renderingProcess" to "renderingPromise"
  packages/element/src/index.d.ts
  packages/element/src/index.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): make all static functions "public"
  packages/element/__tests__/lifecycle/methods.ts
  packages/element/__tests__/observableFields/attributes.ts
  packages/element/__tests__/observableFields/computed.ts
  packages/element/__tests__/observableFields/index.ts
  packages/element/__tests__/observableFields/properties.ts
  packages/element/__tests__/observableFields/states.ts
  packages/element/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): remove decorators
  packages/element/__tests__/decorators.ts
  packages/element/__tests__/index.ts
  packages/element/src/decorators.d.ts
  packages/element/src/decorators.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(context): remove hack for decorator usage
  packages/context/src/index.js
Due: eslint --fix

refactor(redux): remove decorators
  packages/redux/__tests__/decorators.ts
  packages/redux/__tests__/index.ts
  packages/redux/src/decorators.d.ts
  packages/redux/src/decorators.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(redux): allow to access maps with typescript
  packages/redux/__tests__/index.ts
  packages/redux/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(router): drop ts-decorators support and allow to access layout property with typescript
  packages/router/__tests__/outlet.ts
  packages/router/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(styles): drop ts-decorators support
  packages/styles/__tests__/index.ts
  packages/styles/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose

refactor(element): major improvements
  packages/element/__tests__/lifecycle/didMethods.ts
  packages/element/__tests__/lifecycle/index.ts
  packages/element/__tests__/lifecycle/methods.ts
  packages/element/__tests__/observableFields/attributes.ts
  packages/element/__tests__/observableFields/computed.ts
  packages/element/__tests__/observableFields/index.ts
  packages/element/__tests__/observableFields/properties.ts
  packages/element/__tests__/observableFields/states.ts
  packages/element/src/index.d.ts
  packages/element/src/index.js
  packages/element/src/scheduler.js
Due: tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(element): improve map typings
  packages/element/__tests__/lifecycle/methods.ts
  packages/element/__tests__/observableFields/attributes.ts
  packages/element/__tests__/observableFields/computed.ts
  packages/element/__tests__/observableFields/index.ts
  packages/element/__tests__/observableFields/properties.ts
  packages/element/__tests__/observableFields/states.ts
  packages/element/src/index.d.ts
Due: tslint -c tslint.json -p tsconfig.json -t verbose
