Repository corpusculejs/corpuscule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["prettier --write", "tslint -c tslint.json -p tsconfig.json -t verbose", "git add"],
  "packages/**/*.js": ["prettier --write", "eslint --fix", "git add"]
}

refactor(element): drop [createRoot] method in favor of lightDOM decorator parameter
  packages/element/README.md
  packages/element/__tests__/element.ts
  packages/element/src/element.js
  packages/element/src/index.d.ts
  packages/element/src/tokens/lifecycle.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(element): add more docs for light DOM
  packages/element/README.md
Due: none

feat(element): add query and queryAll decorators
  packages/element/__tests__/index.ts
  packages/element/__tests__/query.ts
  packages/element/src/index.d.ts
  packages/element/src/index.js
  packages/element/src/query.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(element): add description for query and queryAll
  packages/element/README.md
Due: none

build: add build commands per package to use lerna capabilities
  package.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/styles/package.json
  packages/typings/package.json
  packages/utils/package.json
  scripts/build.js
  scripts/rollup.config.js
Due: none

build: v0.9.0
  lerna.json
  packages/context/package.json
  packages/element/package.json
  packages/form/package.json
  packages/lit-html-renderer/package.json
  packages/redux/package.json
  packages/router/package.json
  packages/styles/package.json
  packages/typings/package.json
  packages/utils/package.json
Due: none

test(element): rewrite tests to rely on updatedCallback
  packages/element/__tests__/element.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix(element): update element connection info after the end of rendering
  packages/element/__tests__/element.ts
  packages/element/src/element.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(form): rename field property "name" -> "fieldName"
  packages/form/README.md
  packages/form/__tests__/field.ts
  packages/form/src/field.js
  packages/form/src/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

fix(context): remove unnecessary checkValue function
  packages/context/__tests__/index.ts
  packages/context/src/consumer.js
  packages/context/src/provider.js
  packages/context/src/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(context): allow decorators to be wrappers
  packages/context/src/consumer.js
  packages/context/src/provider.js
  packages/context/src/utils.js
  packages/context/src/value.js
Due: prettier --write, eslint --fix

refactor(form): allow decorators to be wrappers
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/api.js
  packages/form/src/field.js
  packages/form/src/form.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

style: adjust comments
  packages/context/src/consumer.js
  packages/form/src/field.js
  packages/form/src/form.js
Due: prettier --write, eslint --fix

refactor(redux): allow decorators to be wrappers
  packages/redux/__tests__/index.ts
  packages/redux/src/redux.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(router): allow decorators to be wrappers
  packages/router/src/outlet.js
Due: prettier --write, eslint --fix

refactor(styles): allow decorators to be wrappers
  packages/styles/src/index.js
Due: prettier --write, eslint --fix

refactor(element): allow decorators to be wrappers
  packages/element/src/attribute.js
  packages/element/src/computingPair.js
  packages/element/src/element.js
  packages/element/src/internal.js
  packages/element/src/property.js
  packages/element/src/query.js
  packages/element/src/utils.js
Due: prettier --write, eslint --fix

refactor(form): allow option decorator to be wrapper
  packages/form/src/option.js
Due: prettier --write, eslint --fix

refactor(form): simplify sharing approach
  packages/form/src/api.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/index.js
  packages/form/src/option.js
  packages/form/src/utils.js
Due: prettier --write, eslint --fix

refactor(form): allow specifying alias for api and option decorators
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/api.js
  packages/form/src/index.d.ts
  packages/form/src/option.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

docs(form): describe new api & option signatures
  packages/form/README.md
Due: none

refactor: rename & share decorator type
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/api.js
  packages/form/src/index.d.ts
  packages/form/src/option.js
  packages/typings/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(router): allow specifying alias for api decorator
  packages/router/__tests__/outlet.ts
  packages/router/src/api.js
  packages/router/src/index.d.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

refactor(redux): simplify sharing approach
  packages/redux/src/index.js
  packages/redux/src/redux.js
Due: prettier --write, eslint --fix

refactor(form): combine field & form private props
  packages/form/src/index.js
  packages/form/src/option.js
Due: prettier --write, eslint --fix

build: use helpers from @babel/plugin-transform-runtime for debugging
  package-lock.json
  package.json
  test/webpack.config.js
Due: none

fix(form): rename property form -> formApi
  packages/form/__tests__/field.ts
  packages/form/__tests__/form.ts
  packages/form/src/api.js
  packages/form/src/field.js
  packages/form/src/form.js
  packages/form/src/index.js
  packages/form/src/option.js
  packages/form/src/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(form): add auto fields
  packages/form/__tests__/field.ts
  packages/form/src/api.js
  packages/form/src/field.js
  packages/form/src/index.d.ts
  packages/form/src/index.js
  packages/form/src/utils.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix

feat(form): allow non-standard input fields
  packages/form/src/utils.js
Due: prettier --write, eslint --fix

test(form): use subscribeAndUpdateField helper everywhere
  packages/form/__tests__/field.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

test(form): fix error messages
  packages/form/__tests__/field.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix(form): fix several issues with form defaults
  packages/form/src/field.js
  packages/form/src/utils.js
Due: prettier --write, eslint --fix

test(form): add tests for text auto setting
  packages/form/__tests__/field.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

fix(form): allow working with single target
  packages/form/src/utils.js
Due: prettier --write, eslint --fix

test(form): add more tests for auto fields
  packages/form/__tests__/field.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

test(form): refactor test helper to provide smoother experience
  packages/form/__tests__/field.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

build(tslint): disable "naming-convention" rule
  tslint.json
Due: none

test(form): add more tests for native elements
  packages/form/__tests__/field.ts
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose

feat(form): make field auto container to set its name to nested form elements
  packages/form/__tests__/field.ts
  packages/form/src/field.js
Due: prettier --write, tslint -c tslint.json -p tsconfig.json -t verbose, eslint --fix
